[2017-09-08 17:15] mhowlett commented on #316
There is the `ListGroups` method, but group membership protocol in Kafka is general (not just useful for consumer groups) and there is no functionality to interpret the data (i.e. get list of subscribed topics) in the library yet. You could maybe look here to do it yourself, it's maybe not that hard: https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaPr

[2017-09-12 08:26] MikeDGitHub opened #317 "ByteArrayDeserializer 0.11.0 does not exist？"
Description
===========
nuget downloads does not exist ByteArrayDeserializer,but  Source code  exists

How to reproduce
================

Checklist
=========
Please provide the following information:

 - [x] Confluent.Kafka nuget version:0.11.0
 - [ ] Apache Kafka version:
 - [ ] Client configuration:
 - [ ] Operating system:
 - [ ] Provide logs (with "debug" : "..." as necessary in configuration)

[2017-09-12 08:35] LanceNero opened #318 "[Question] How to do SASL_PLAINTEXT authentication"
Description
===========
as title , I don‘t know how to perform kafka SASL_PlAINTEXT type authentication in .net

anyone have relevant experience?

[2017-09-12 08:58] edenhill commented on #318
Which SASL mechanism (PLAIN, GSSAPI, SCRAM..) are you trying to use and what is your client operating system?

[2017-09-12 10:29] treziac commented on #317
Indeed, it seems it was commited after the branch was pulled (same for many serializer). Best thing is to create the serializer on your side for now (fairly straight-forward)

[2017-09-13 00:32] MikeDGitHub commented on #317
I cloned the source code compiled with the debug version

[2017-09-13 00:32] #317 closed

[2017-09-14 03:38] a7618317a opened #320 "about key store file"
Description
===========

When I use the Key store file,add property "ssl.keystore.location、ssl.keystore.password、ssl.key.password、ssl.truststore.location、ssl.truststore.password" in the config, It throw error:"can not find the property ssl.keystore.location....." ,how can i use librdkafka with key store file,thank you !

How to reproduce
================

add property "ssl.keystore.location、ssl.ke

[2017-09-14 06:10] edenhill commented on #320
Dup of https://github.com/edenhill/librdkafka/issues/1420

[2017-09-14 06:10] #320 closed

[2017-09-14 12:38] combrinckd opened #321 "Consumer performance - Assistance and Advice Needed"
Description
===========
I have found significant differences when consuming different topics. Obviously, there will be slower throughput on larger messages; however, all topic messages are quite small. However, I found that the one topic I am consuming from with the highest throughput does not contain the smallest messages...
To lay out the scenario a little better, I am testing throughput and per

[2017-09-14 13:17] edenhill commented on #321
Thanks for a great issue report.

I think you might be hitting this bug in librdkafka: https://github.com/edenhill/librdkafka/issues/1384

It has been fixed on master but we haven't pushed a new release just yet.
If you want to verify this fix I suggest grabbing the appropriate librdkafka.dll from AppVeyor to replace the one installed from NuGet:
https://ci.appveyor.com/project/edenhill/librdkafka

[2017-09-14 14:54] combrinckd commented on #321
**This is awesome!!!**
Thank you for the assistance in this @edenhill
This seem to have fixed the issue on both throughput as well as CPU usage.
I am now actually getting the same or even better performance than the java client I ran earlier.

Do you perhaps have an idea of when this will be release via the official nuget package? For now I will work around it by ensuring I keep the dll's and upda

[2017-09-14 14:55] edenhill commented on #321
Happy it fixed the problem!

We're looking to release a new librdkafka version with this fix in about 2-3 weeks time.

[2017-09-14 15:05] mhowlett commented on #321
thinking it's worth leaving this issue open until we do the next release to make it easier to find for others who may be wondering the same thing.

[2017-09-19 14:02] McMlok opened #322 "How to set message.timeout.ms for Producer"
I want to get error faster than after 5min if brokers are down. I found that options message.timeout.ms is for it. But when I set this options when I creating Producer instance and call ProduceAsync I get result with error after 5min.

I create producer like this
var config = new KeyValuePair<string, string>[]{
  new KeyValuePair<string, string>("message.timeout.ms", "1000"),
  new KeyValuePair<st

[2017-09-19 15:00] mhowlett commented on #322
try setting `message.timeout.ms` under `default.topic.config`, and also note that `message.send.max.retries` will also affect how long it takes before you get an error. eg:

[code]

In 0.11.0, my understanding was that librdkafka should now recognize topic level configuration properties at the top level (as you are doing), however I just tested this and it didn't appear to work here @edenhill .

[2017-09-19 15:08] edenhill commented on #322
@mhowlett It does, and it creates an implicit default topic configuration object internally for those properties, but this config object is then replaced when the .NET bindings call set_default_topic_config().

[2017-09-19 15:36] mhowlett commented on #322
ahh ok. I think the way to solve this is promote any default.topic.config settings to the top level in the producer constructor and then never call set_default_topic_config. a warning would be good - though we don't really have a good mechanism for doing it. We could maybe warn by writing to stderr or firing and event on OnError, but neither are ideal.

[2017-09-19 15:38] edenhill commented on #322
I meant a documentation warning.

[2017-09-19 16:41] McMlok commented on #322
@mhowlett thanks your config works as I expected.

[2017-09-19 18:49] chiru1205 opened #323 "Producer Metadata Call Error: Broker Transport Failure"
Description
===========
Call to get metadata of a specific topic fails and all I see is broker transport failure error. Also my kafka messages are timing out. This worked well with previous version of .NET client , issues started with v 0.11.0.

Here is the producer configuration I use to get metadata info.
   {"bootstrap.servers", brokerList},
            {"client.id",Guid.NewGuid()},

[2017-09-19 19:02] edenhill commented on #323
librdkafka v0.11.0 changed the default value of api.version.request from false to true, and you are now hitting a 0.9.0.1 broker bug.
Set `api.version.request` to false in your client configuration to fix the problem.

More info:
https://github.com/edenhill/librdkafka/wiki/Broker-version-compatibility

[2017-09-19 19:53] chiru1205 commented on #323
it works now with the configuration update you suggested. Thank you @edenhill

[2017-09-19 20:06] #323 closed

[2017-09-20 01:00] malinovskiyy opened #325 "0.9.5-RC3 was working for Consumer, later releases return Null messages"
Description
===========
We're using Kafka 0.10.1.1 to populate a topic that we've been reading from without issue, using the 0.9.5-RC3 client. However, after upgrading to 0.11.0, the consumer receives no messages at all, behaving like the topic is not recognized at all (Consume() returns null, and no errors are thrown - as if the topic name is wrong...). Trying the 0.9.5 Client resulted in a simil

[2017-09-20 14:37] mhowlett commented on #325
Can't think of what could be the problem. Can you set the "debug" configuration property to "all" and paste the output here.

[2017-09-20 17:17] malinovskiyy commented on #325
Thanks for the prompt response - here are the debug:all logs for the simple consumer example using 0.11.0 - I suppose it looks like it does find the topic (?):
[out_0110.txt](https://github.com/confluentinc/confluent-kafka-dotnet/files/1318568/out_0110.txt)

For comparison, here are the logs for 0.9.5-RC3:
[out_095RC3.txt](https://github.com/confluentinc/confluent-kafka-dotnet/files/1318572/out_09

[2017-09-20 17:32] mhowlett commented on #325
There are lots of PROTOERR's in there... Maybe try setting `api.version.request` to `false` and `broker.version.fallback` to `0.9.0`. Can you share details of the configuration of the producer that produced the messages? It looks like something is going wrong under the covers.. I've not seen this before.

[code]

[2017-09-20 17:36] edenhill commented on #325
It looks like it is indeed fetching messages from the broker:
[code]

So it is a bit weird if you don't see any messages in your consumer.
Can you share your client configuration and your consumption loop code?

[2017-09-20 17:40] edenhill commented on #325
@mhowlett
The PROTOERR are actually no errors but partial receives, it is only debug=protocol that turns them into error logs (which is weird, yes). The partial messages are an optimization in the broker to allow sendfile() usage which the client is supposed to handle (and so it does)

[2017-09-20 17:42] mhowlett commented on #325
ahh ok.

he notes the problem occurs with the SimpleConsumer example code which uses the deserializing consumer. Perhaps try using the non-deserializing consumer. I'm not sure why this would work, but it will at least narrow down the problem a little.

[2017-09-20 19:02] malinovskiyy commented on #325
You're right - I think the issue is in the StringDeserializer. Running the following code:
'''c#
        public static void Main(string[] args)
        {
            string brokerList = args[0];
            var topics = args.Skip(1).ToList();

            var config = new Dictionary<string, object>
            {
                { "group.id", "simple-csharp-consumer" },//{"debug", "all"},

[2017-09-20 19:39] mhowlett commented on #325
you'll probably get events on OnConsumeError - the strings are probably not valid utf8.

[2017-09-20 19:48] mhowlett commented on #325
previously the de-serializers would throw an exception if there was an error decoding (can't recall exactly when that changed). it may be appropriate to specify a different string encoding in the deserializer, or write your own deserializer.

feel free to provide more information about / dump of the encoded message if you think it's reasonable that something other than what currently happens shoul

[2017-09-20 20:23] malinovskiyy commented on #325
Hmm, on the producer side, we're using the org.apache.kafka.common.serialization.{Serde, Serdes} (in Scala):
[code]
That should be UTF8 by default, looking at org.apache.kafka.common.serialization:
[code]
Do we have to explicitly specify it now?

[2017-09-20 20:33] mhowlett commented on #325
oh, your keys are `long`? the problem is there then I think - if you're using the simple consumer example as is, it expects null keys. if it gets any data at all, that will cause the Consumer to give consume errors.

[2017-09-20 23:44] malinovskiyy commented on #325
Yes, this is it! We were keeping our consumer agnostic to key type and passing a Null deserializer for the key. This used to work in 0.9.5-RC3, but as you mentioned, it looks like we now need to match the consumer key deserializer with the produced type, even if we do not use the key at all. Not sure if that was a desired effect of the changes from 0.9.5-RC3, but we can move forward - changing the

[2017-09-20 23:44] #325 closed

[2017-09-21 15:25] mhowlett commented on #325
I think we should add an `Ignore` deserializer type (alternatively parameterize the null deserializer constructor, though I think that would be worse).

[2017-09-22 04:47] prabhuramsoft commented on #190
Hi
while using producer.ProduceAsync("....").Result, it **hangs** **Hangs always** :-(

and when i try using Consumer, with code
 var config = new Dictionary<string, object>
            {
                {"group.id", "group"},
                {"bootstrap.servers", "hostname:portno"}
            };
var lstTopics = new List<string> { "Test_topic" };
 var cancelled = false;
  using (var consumer = ne

[2017-09-22 07:22] treziac commented on #190
You are talking about consumer rather than producer.
Two things:
- you can't resolve the hostname/port. You have to give correct hostname/port for the library to be able to send data to kafka
- Your loop is not well designed. You are creating a new task every time you Poll. Instead, you should create a task to poll, like this:
[code]
Refer to `example/AdvancedConsumer` for proper implementation

[2017-09-22 13:42] prabhuramsoft commented on #190
**Producer logic below which hangs:**
  var config = new Dictionary<string, object> { { "bootstrap.servers", "hostname:Portno" } };
            var key = new byte[] { 1, 2, 3, 4 };
            var val = new byte[] { 5, 6, 7, 8 };
            var topic = "Test_topic";

            await Task.Run(() =>
            {
                // Create the producer
                using (var producer = new Pro

[2017-09-22 15:07] jschmidtWK opened #326 "Exposing specific Queues or allowing specific consume"
Hi,

I currently use Kafka as a messaging system for IoT. Our current architecture support one device per partition and, ideally, consuming every buffered messages for one partition/device before switching to the next would give us the behavior we need and avoid polling every partition, then re-differentiating the messages in internal queues, which tend to create memory bottlenecks.

Is it possibl

[2017-09-22 16:06] mhowlett commented on #326
you don't need to use the consumer group functionality - you can directly assign to the partition(s) you want (see the simple consumer example). note that when you call assign, the old assignment is revoked - it does not add to the old assignment.

[2017-09-22 16:10] mhowlett commented on #190
this was resolved and merged in #180

[2017-09-22 16:10] #190 closed

[2017-09-22 16:29] jschmidtWK commented on #326
Actually the consumer group functionality is very interesting as it allows an automatic balancing of the workload among the workers, with "zombie"consumer detection performed by the kafka broker. This is an important part of our choice.

Or do you suggest using a consumer for each queue to have a single-file polling behavior ? As the number of devices get higher, I can see that causing problems do

[2017-09-25 08:34] edenhill commented on #285
@vinodres set `debug=true` in the jaas config file, something like:
[code]

[2017-09-25 16:09] leonidbel commented on #61
Hi @edenhill, could you pls speed up release of this handshake fix? We're really demanding it, kinda blocker for our team ((

[2017-09-25 17:08] edenhill commented on #61
The final release will be a week or two, but we can get an RC up on NuGet mid this week.

[2017-09-26 07:16] narekaleksanyan opened #327 "kafka consumer issue"
I have implemented kafka consumer via java and I got messages from Kafka.
I'm trying to run  simple example from here with the same configurations( topic,groupId,brokers) , but I cannot get any message from kafka.

[2017-09-26 11:21] leonidbel commented on #61
Oh, that would be perfect!

[2017-09-26 13:30] matth0x1 opened #328 "Get length/count of out queue for producer."
Description
===========
Really enjoying working with confluent-kafka-dotnet library, however for the life me, I can not work out how to get the length/count of out queue for a producer.

I could handle this myself by doing something like;

`config.Add( "queue.buffering.max.messages", 1);`

Then managing the messages to be sent using own queue, however I see very poor performance/throughput.  I ass

[2017-09-26 15:18] mhowlett commented on #327
some things to try:

make sure you're handling OnError and OnConsumeError - look for errors there.
try setting the debug config setting to 'all' for very verbose log information.

[2017-09-26 15:50] mhowlett commented on #328
librdkafka does not expose a good number here, and so we don't either. The best you can do at the moment is call `Flush` with a small timeout and take a look at the return value. What this value represents is well documented in the method docs, but it is not particularly useful (it is not equal to the number of messages left to send). I'm interested to understand more about your use case and if yo

[2017-09-26 17:50] edenhill commented on #327
And set auto.offset.reset=earliest

[2017-09-27 07:54] jschmidtWK commented on #326
@mhowlett Thanks for the previous answer. As stated it would impact our scalability as we'd have to replicate the consumer group functionality and/or create a consumer for each TopicPartition. Given the number of TopicPartition we use (one per device, so upward of 5000) this seems unwieldly. I was under the impression that librdkafka had, internally, one queue per partition and fused everything in

[2017-09-27 07:57] edenhill commented on #326
@jschmidtWK That is indeed what librdkafka does under the hood and the C/C++ APIs allow fine-grained controlled over these queues. But since this is quite a rare use-case it hasn't (yet?) made it into the higher level bindings.

[2017-09-27 08:04] jschmidtWK commented on #326
I see, thanks for the confirmation. There might be a way around it, although less predicatble : how does the fusing takes place ? Is every queue consumed fully before going to the next, or are the message served in a round-robin or timestamp-based sort of way ?

[2017-09-27 08:41] edenhill commented on #326
https://github.com/edenhill/librdkafka/wiki/FAQ#how-are-partitions-fetched

[2017-09-27 08:52] jschmidtWK commented on #326
My apologies for not reading the documentation on this topic, thank you for the reference.

[2017-09-27 08:52] edenhill commented on #326
I just wrote it ;)

[2017-09-27 13:36] vinodres commented on #285
OK @edenhill , I will try that and get back to you.

[2017-09-27 15:13] matth0x1 commented on #328
@mhowlett I am using kafka as as a persistent buffer for log messages between various services and logstash (no persistent-queue support in logstash for TCP input). If there is an outage between the application doing the logging and the kafka broker, I don't want risk the application's memory being eaten up buffering messages for the sake of logging.

I could set `queue.buffering.max.messages` to

[2017-09-27 15:43] vinodres commented on #285
@edenhill : By the way, we have ScramLoginModule and I have asked to enabled debug for it.
Not much information captured after enabling debug, I see following few DEBUG messages on server side

Same behavior on client side. I see following entry in client side log with no corresponding response back.

If I restart the client, then everything looks good, cpu stays normal until one of the broker goe

[2017-09-27 15:47] jschmidtWK commented on #326
Thank you then, this is a very helpful document and answers my question about a possible workaround.

Back to the initial topic, is an API akin to Consumer.Consume(TopicPartition tp) something that would be possible ?

[2017-09-27 17:19] edenhill commented on #328
Why not just expose outq_len()?

[2017-09-27 17:29] mhowlett commented on #328
This is not exposed (except as the return value of Flush, which is marked as unstable because of it) because I viewed it as depending too much on librdkafka internals. I think better to expose more meaningful numbers (even if these require O(n) computation to compute, don't know, haven't looked at what would be involved). I chose to expose nothing at all over something that's not straightforward t

[2017-09-27 17:44] edenhill commented on #328
I think outq_len()'s accuracy is sufficient for the use-case described by @matth0x1

[2017-09-28 04:52] wangkewei111 opened #329 "Topic create and alter"
Description
===========
Topics are  automatically created when I use producer or consumer.
How to alter PartitionCount and ReplicationFactor?

[2017-09-28 06:51] treziac commented on #329
You can't from client - you will have to use kafka-topics command.
An admin client is on the way (implemented in Kafka and available in Java) , but does not allow to change partition count and replication factor yet (only create, delete and alter config you can alter via kafka-topics among other operations) Creating and deleting are being added to librdkafka soon.

Also note that you can't create

[2017-09-28 07:10] treziac commented on #329
I may have misunderstand what you meant by alter. In kafka, `alter` typically means "modify after creation (which, as I stated, is not possible,

If you want to create a topic with a given number of partition/ replica: it's not available in librdkafka/Confluent.Kafka yet, but it it's on roadmap, you can follow discussions here: https://github.com/edenhill/librdkafka/issues/986
For now, best and si

[2017-09-28 07:26] matth0x1 commented on #328
Good plan, @mhowlett. Thanks

[2017-09-28 11:58] leonidbel commented on #61
Hi @edenhill, any news??

[2017-09-28 15:25] mhowlett commented on #329
yep - use the `kafka-topics` command to create / alter topics. as @treziac notes, you can't use the client for this yet. you can turn off auto-topic creation with the `auto.create.topics.enable` broker config property (it's unfortunately not the default - I think that would be better).

[2017-09-28 15:32] mhowlett commented on #61
sorry for the delay. I can assure you he's actively working on this... we're doing a lot of work to streamline librdkafka releases in general, and this is part of that effort.

[2017-09-29 17:32] #318 closed

[2017-09-30 00:00] #289 closed

[2017-10-02 00:39] sheeysong commented on #90
I have kafak 0.10.2.0 server, and having setting: message.max.bytes=1500012 (1.5MB), and I have Go client: librdkafka-dev_0.11.0 0n Ubuntu 14.04 (Debian package). Go version 1.9.0
I got two kinds of wired error on Go client side:
%3|1506735207.752|FAIL|rdkafka#consumer-6| [thrd:ps6655.prn.parsec.apple.com:9092/2]: ps6655.prn.parsec.apple.com:9092/2: Receive failed: Invalid response size 1000000040

[2017-10-02 06:30] treziac commented on #90
You should post this on confluent-kafka-go rather than DotNet. For 1) you need to set the config on server also, see Kafka documentation for exact name

[2017-10-02 11:08] kavyashivakumar commented on #285
@vinodres

[apologies. I'm slightly divulging from the actual issue here]

I just read your comment on august 3rd that you are using sasl/plain authentication on windows.
you also mention kafka broker is running on Linux.
can you briefly describe how is your set up and post sample code on how you testing it?

we have the same set up. added with cross domain. but couldn't connect using librdkafka .

[2017-10-02 11:15] eaba opened #330 "Network Storage Directory"
Description
===========

This is not an issue, but a question.
How can I replace the default log.dir with azure storage network drive?

Thanks

How to reproduce
================

Checklist
=========
Please provide the following information:

 - [ ] Confluent.Kafka nuget version:
 - [ ] Apache Kafka version:
 - [ ] Client configuration:
 - [ ] Operating system:
 - [ ] Provide logs (with "debug" : "

[2017-10-02 16:21] TheMidgardWatcher commented on #61
Hey there!

@edenhill or @mhowlett,  will the next release be compatible with .Net Core 2.0?

[2017-10-02 17:15] mhowlett commented on #61
I will test that, yes. related: #291.

[2017-10-03 14:50] eaba commented on #330
Hi @mhowlett can you kindly say something?

[2017-10-03 15:38] mhowlett commented on #330
@eaba - I have to admit to having never used Azure, but you'll just need to mount the drive and set the `log.dir` config property on the broker.

[2017-10-03 17:31] vinodres commented on #169
Just closing the loop on this issue. Authentication is now working after upgrading to Confluent.Kafka 0.11.0.

Here is the config I use for Producer
var config = new Dictionary<string, object>()
                {
                    {"bootstrap.servers", "mycorpmessagebroker01:9092,mycorpmessagebroker02:9092,mycorpmessagebroker03:9092"},
                    {"client.id", "Vinod_Test_Client"},

[2017-10-03 17:36] vinodres commented on #285
@kavyashivakumar In my case the produce app is running on Windows Server 2016. Kafka brokers are running on Linux. I am able to successfully authenticate.

Please refer to confluentinc/confluent-kafka-dotnet#169 to see the config I am using for producer.

[2017-10-03 18:43] #169 closed

[2017-10-04 09:09] matth0x1 commented on #328
A rough indication of the out queue length would be much preferred over having to maintain additional code outside of the client to track the length.

[2017-10-04 09:46] kavyashivakumar opened #331 "SASL mechanism GSSAPI not working"
Description
===========
I am trying to connect to Kafka brokers v0.10.2 running on Linux CentOS 7, where recently security was enabled.

I am using Confluent.Kafka v0.11.0and my test producer and consumer applications are running on Windows 7 with .NET 4.6.1 framework.

I am trying to use the below configuration for the producer.

   var config = new Dictionary<string, object>
            {

[2017-10-04 09:56] kavyashivakumar commented on #285
@vinodres,

I posted

https://github.com/confluentinc/confluent-kafka-dotnet/issues/331

as my issue. if you notice, i pretty much copied your description of the problem. except my mechanism is default gssapi.

i still can't seem to connect. would be really helpful if you can take a look at it. (have also mentioned yours Matt's and treziac names there.

[2017-10-04 16:27] mhowlett commented on #328
Noted. If we call the property something that sounds internal like `InternalQueueLength` or `InternalOutQueueLength` or `LibrdkafkaOutQueueLength` and have a plan for how this name fits with other related properties that may ultimately get added, then I'm happy to add this now (it's a trivial addition). Will try to sort this out in the short term.

[2017-10-04 17:22] eddadjei opened #332 "Create a Topic"
Description
===========
How can I create a topic using the SDK

How to reproduce
================

Checklist
=========
Please provide the following information:

 - [ ] Confluent.Kafka nuget version:
 - [ ] Apache Kafka version:
 - [ ] Client configuration:
 - [ ] Operating system:
 - [ ] Provide logs (with "debug" : "..." as necessary in configuration)
 - [ ] Provide broker log excerpts
 - [ ] Cr

[2017-10-04 17:39] treziac commented on #332
See https://github.com/confluentinc/confluent-kafka-dotnet/issues/329

[2017-10-04 17:44] edenhill commented on #328
I feel that you might be overly cautious on this issue, Matt.

Below is the corresponding librdkafka function and it has been around for many years with no controversy, I think we can be pretty safe with calling it just OutQueueLength without the Internal or Librdkafka prefix in the .NET client, making a note what that actually means.

[code]

[2017-10-04 18:47] mhowlett commented on #328
I place very high priority on not confusing users :-).

As we just discussed, it'll be a simple change to provide another method in librdkafka that doesn't expose librdkafka internals, and I think we should do that and not expose this number.

[2017-10-05 09:09] kavyashivakumar commented on #285
@vinodres is your set up windows to windows or windows to Linux? where kafka brokers are on Linux?
if so I have same config as yours but with default sasl mechanism.

can you or someone please shed some light on this? I keep getting authentication failure.

[2017-10-05 19:16] edenhill commented on #321
A release candidate for librdkafka is now available on NuGet, please help verifying the fix:
https://www.nuget.org/packages/librdkafka.redist/0.11.1-RC1

[2017-10-05 21:56] mhowlett commented on #321
... and a release candidate for the dotnet client that references this is also now available:
https://www.nuget.org/packages/Confluent.Kafka/0.11.1-RC1

[2017-10-06 09:38] jschmidtWK commented on #326
Hi @edenhill, @mhowlett,

Any thoughts on allowing a specific Consume or otherwise exposing the various TopicPartition queues ?

[2017-10-06 17:23] mhowlett commented on #326
The fine grained control over partition queues that @edenhill is talking about is not something we're going to consider exposing in the short term. But come to think of it, the API does allow you to do what you want I think. After subscribing to a topic, a consumer gets allocated a set of partitions - but you have complete control over which of these you actually assign to and read from. So hook i

[2017-10-07 17:40] autodidaddict commented on #294
I get this exact error message when trying to simply restore or build on Ubuntu. I'm using .NET Core 2.0, and I've even done `sudo apt-get install librkkafka1` and that doesn't help. I am unable to use this client library

[2017-10-07 20:32] spadger commented on #294
Did you check the version of libssl? Or downgrade to the Jessie base image?

On 7 Oct 2017 18:40, "Kevin Hoffman" <notifications@github.com> wrote:

I get this exact error message when trying to simply restore or build on
Ubuntu. I'm using .NET Core 2.0, and I've even done sudo apt-get install
librkkafka1 and that doesn't help. I am unable to use this client library

—
You are receiving this becau

[2017-10-08 03:48] mhowlett commented on #294
@autodidaddict - installing the debian package unfortunately won't help for two reasons: the version of librdkafka within it depends on libssl1.0.0 (not libssl1.0.2) and the dotnet runtime will preferentially use the librdkafka.so from the librdkafka.redist nuget package (which is a dependency of Confluent.Kafka).

You have two options at this time: 1. run within a docker container that has the ol

[2017-10-10 15:03] ashishbhatia22 opened #334 "Access Violation exception when running as a service"
Description
===========
When hosting a consumer as a windows service (using TopShelf), I am getting an access violation exception. Code works fine when running as  a console program.

Exception Info: System.AccessViolationException
   at Confluent.Kafka.Impl.LibRdKafka+NativeMethods.rd_kafka_subscribe(IntPtr, IntPtr)
   at Confluent.Kafka.Impl.SafeKafkaHandle.Subscribe(System.Collections.Generic.I

[2017-10-10 15:26] treziac commented on #334
I never used topshelf, but you are probably dealing with #107 : it seems you are directly disposing your consumer before subscribing
Could you provide some reproductible code? We can't help from just those informations

[2017-10-10 15:51] ashishbhatia22 commented on #334
I get this exception when we start the service. On start of service, I am setting a reader to the kafka topic. I am pasting the snippet below. Please note that when i run this from visual studio, everything works fine. We only see this when the code is installed as service. Exception details:

Exception Info: System.AccessViolationException
   at Confluent.Kafka.Impl.LibRdKafka+NativeMethods.rd_ka

[2017-10-10 22:10] chlowell commented on #291
@edenhill @treziac Another way to solve this without disabling the warning:
 1. Move `librdkafka.redist.props` to `/build` (adjusting paths in the file)
 1. Delete `/build/net`

In `/build` with no TFM, the props file will apply everywhere--which should be fine because it's already the same in all cases--and NuGet won't warn `NU1701` in a .NET Core/Standard project.

[2017-10-11 00:50] geofflamrock commented on #321
Hi @mhowlett @edenhill,

Do either of you know if there is a timeline for a final 0.11.1 release to fix this issue?

Thanks.

[2017-10-11 01:37] mhowlett commented on #321
#294 is the only blocker I'm aware of, and we worked out what we're going to do to fix that today. It shouldn't be long. 0.11.1-RC1 should be fine to use in the meantime and I would highly recommend this over 0.11.

[2017-10-11 13:12] ashishbhatia22 commented on #334
I was able to fix this after removing IDisposable interface on the classes that instantiated KafkaConsumer object. I am still investigating if we get the same behavior when we host the code in IIS.

[2017-10-11 13:37] ashishbhatia22 opened #335 "Advanced Consumer not pulling messages when changing the group Id"
When I switch the group Id, I expect the consumer to start processing the messages from the last committed offset. If no offset is there for the consumer, I expect the consumer to start from beginning.

However, the consumer is only processing messages from the last committed offset of earlier consumer. Example,

Topic Name: TestIOT

Initial Group id: "ConsumerGroup1"

Last committed offset of "Co

[2017-10-11 13:52] ashishbhatia22 commented on #335
I was able to resolve this. I had the incorrect value for auto.offset.reset and it was set to "latest. After changing this configuration parameter to "smallest", it is working fine.

[2017-10-11 15:48] mhowlett commented on #335
This confuses many people. I think the most natural value to use as a default depends on whether you're thinking of kafka more like a queue or more like a pub/sub system. If you're thinking of it like a queue, you'd expect the default to be 'earliest', if you're thinking in terms of pub/sub, you'd expect the default to be 'latest'. I think most people are thinking more in terms of a queue (particu

[2017-10-11 15:53] edenhill commented on #335
It will also be problematic to change the default value for something as critical as this.

[2017-10-11 16:08] mhowlett commented on #335
yes, absolutely no way we should consider changing this. @ashishbhatia22 just got me thinking about it ...

[2017-10-12 03:04] #329 closed

[2017-10-12 13:54] agoretsky opened #336 "Error while consuming: Local_Transport, Local_MsgTimedOut"
Description
===========
Hello, I am using this code:

[code]

[code]

On the staging machine I am getting:

but on the dev machine everything is ok.

Checklist
=========
Please provide the following information:

 - [ ] Confluent.Kafka nuget version: 0.11.0
 - [ ] Apache Kafka version: 0.11.0.1
 - [ ] Client configuration:
 - [ ] Operating system: Broker on Ubuntu 16.04, Client in docker container

[2017-10-12 15:02] agoretsky commented on #336
by the way, it happened after second deploy to staging server, after first everything was working fine

[2017-10-12 21:54] derrickaccountnumbertwo opened #337 "Heap corruption while using consumer"
Description
===========

Hello, I'm encountering a nasty bug with what seems to be a basic use case. Am I doing something wrong?

- I'm creating several threads near-simultaneously, each of which runs the code found in the 'how to reproduce' section.

- My usage seems basic, but somewhere in librdkafka the heap is getting corrupted. This shows an error in ntdll.dll and causes a hard crash - can't

[2017-10-13 18:41] mhowlett commented on #337
Thanks for the detailed report.
Can you try 0.11.1-RC1 which is now on nuget and see if this works?

If not, if you create a self-contained program that I can run in which the problem occurs, that would help immensely (I will run it and debug).

I don't immediately see anything wrong with your code.

[2017-10-13 21:09] derrickaccountnumbertwo commented on #337
Installed 0.11.1-RC1 about 30 minutes ago, and so far I can't get it to crash at all. Fingers crossed, knock on wood.

If 0.11.1-RC1 eliminates this problem, do you happen to know what commit or change fixed it? Just curious.

I'll try to update this issue again by Monday, after some more testing. Thanks!

[2017-10-13 21:17] mhowlett commented on #337
In relation to this problem, I'm not exactly sure, but 0.11.1 does fix a number of relatively high impact regressions in 0.11.0. If you're not seeing any issues I think they are likely resolved.

[2017-10-16 14:30] #336 closed

[2017-10-16 20:10] derrickaccountnumbertwo commented on #337
I've gone through all the situations where I previously had crashes, and there haven't been any with 0.11.1-RC1. I'm closing this issue - thanks again!

[2017-10-16 20:10] #337 closed

[2017-10-17 05:06] asmx1986 commented on #321
Hi @mhowlett @edenhill , do you know when the final 0.11.1 release would be?

[2017-10-17 11:46] mhowlett commented on #321
Imminent... The #294 fix didn't make it unfortunately (but it's coming soon after).

[2017-10-19 06:58] mgrail opened #343 "How to use a custom partitioner ?"
Hello all,

Thank you for your work.

I need to use a partitioner but I couldn't find any way to set it.
In the advanced producer sample, there is a comment line 42 where @mhowlett use an older way to create a partitioner (with TopicConfig class) but it doesn't exist anymore ?

Thank you very much

[2017-10-19 09:43] mtranter commented on #287
Hi Guys,

I did the upgrade as suggested. We have been running the latest version for a few weeks now and we are not seeing the Queue Full problem anymore so I guess this can be closed.

Thanks for your help.

[2017-10-19 14:19] mhowlett commented on #343
unfortunately this is not implemented yet @mgrail. it's commonly requested, but I don't have a timeframe yet. do you want this so you can provide a murmur2 partitioner compatible with the java client? or a custom strategy?

[2017-10-19 14:20] #287 closed

[2017-10-19 15:03] mgrail commented on #343
Hi,

It was only to round robin on all partitions based on a message key (int).
I'll use ProduceAsync to give a partition instead.

Thank you

[2017-10-19 16:20] edenhill commented on #343
We're looking to provide the builtin partitioners as a simple configuration property in a future release.

[2017-10-19 17:51] liu-hongwei opened #344 "Need to Support Kafka Streams APIs"
Description
===========
Start from version 0.10.0.X, Kafka itself supports the Streams APIs, however, seems except the Java version clients support this feature, the .net client still does not support Kafka Streams APIs.

enabling this feature in .net client will be really helpfully when we use Kafka on .net platform , especially for real time data processing.

How to reproduce
================

n

[2017-10-19 18:49] mhowlett commented on #344
Unfortunately, we don't have near term plans to implement a Kafka Streams API in .NET (it's a very large amount of work) though we're happy to facilitate other efforts to do so.

Confluent have recently launched KSQL, which effectively allows you to use the Streams API without Java and has a REST API that you can call from .NET. It's more limited, but perhaps it satisfies your use case.

https://w

[2017-10-20 06:05] evenbing opened #345 "NullDeserializer may only be used to deserialize data that is null"
run at example exception:NullDeserializer may only be used to deserialize data that is null
config:
private static Dictionary<string, object> constructConfig(string brokerList, bool enableAutoCommit) =>
            new Dictionary<string, object>
            {
                { "group.id", "advanced-csharp-consumer" },
                { "enable.auto.commit", enableAutoCommit },
                { "a

[2017-10-20 15:27] mhowlett commented on #345
This is not a bug, it's a feature! You would be trying to deserialize a key or value that has data. The null deserializer expects null, and considers it an error if it gets something else.

I plan to add a new deserializer `IgnoreDeserializer`, which will return `null` regardless of the data in the message.

[2017-10-20 20:22] mbirnios commented on #291
Just curious to know if you were going to try @chlowell solution. We have this library inside another custom Nuget package in our company, which is then used in 20+ projects. So we get yellow warnings all over the place (and the NoWarn fix doesn't work because it's not transitive as you pointed out). Thx!

[2017-10-21 14:12] createanaccount43 commented on #294
Hello,

Any updates for this issue? I'm dealing with exactly this problem on dotnet core 2.0 on fedora 25 linux (not docker).

How can I solve it?

[2017-10-22 19:19] mhowlett commented on #294
Currently working on it. I'm re-packaging librdkafka.redist and making some changes to the dotnet library to make native library loading more flexible. I thought it would be done by now but it's turned out to be quite difficult.

[2017-10-23 03:50] anupkumarsharma commented on #67
Little late but do we have any good option? I was trying to convert object to avro.
Java has ReflectDatumWriter but no such option in c#.

[2017-10-23 06:46] createanaccount43 commented on #294
@mhowlett OK, Good luck! But I must say that I'm struggling with other nuget kafka libraries at the same time to catch my deadline. So whenever you complete please update the ticket and library so I can return back to use confluent-kafka library. Also if you have any beta updates I can be the tester.

Thanks

[2017-10-23 10:07] yuleyule66 opened #346 "How to hide librdkafka.redist dlls(x86 x64) floder at visual studio solution"
When I refer to the latest README, and reference to the latest version of `librdkafka.redist` (0.11.1),  it generates two folders in my solution, This looks ugly.
![image](https://user-images.githubusercontent.com/8205994/31883128-79b1ebae-b81b-11e7-8c0c-aeae65472f97.png)

Is there any way to solve this problem? thanks.

[2017-10-23 13:39] treziac commented on #67
I didn't took time to finish it properly, but you can check https://github.com/confluentinc/confluent-kafka-dotnet/pull/319
It is compatible with netframework and netcore2.0 (but not netcoreapp1.x)

Have to finish it for months now ^^'

[2017-10-23 14:44] mhowlett commented on #346
thanks for the timely feedback @yuleyule66 - I'm currently working on some other problems with packaging and I'll look into why this is happening as well.

[2017-10-23 15:09] mhowlett commented on #346
Can you share some more information about your environment? Which version of visual studio are you using? I just tried referencing both librdkafka.redist and Confluent.Kafka in a Web Application in both VS 2017 and VS 2015 and I do not get these folders on my machine. It would be good to know under what circumstances they occur (I am aware that this problem has occurred before)

[2017-10-24 05:23] krajek opened #347 "Pause/Resume methods are missing in nuget package"
Description
===========
Hi, why Pause/Resume methods are not available on nuget package? I will really need those . Is there any chance they will be available soon?

Checklist
=========
Please provide the following information:

 - [ ] Confluent.Kafka nuget version: 0.11.1
 - [ ] Apache Kafka version: 0.11.1

[2017-10-24 05:48] GarrettClyde commented on #294
Hey guys, I was getting this error with `microsoft/dotnet:2-runtime`. Switching to the `microsoft/dotnet:2-runtime-jessie` image suggested by @treziac, seemed to solve the problem.

Now, a couple weeks later, I just updated another project to dotnet core 2.0, and even with the `2-runtime-jessie` image, I'm seeing this issue.

I got a shell into the container and ran a search for the libraries list

[2017-10-24 07:01] alexvaluyskiy commented on #347
@krajek `Consumer.Pause/Resume`, `Consumer.OffsetForTimes`, `updated serializers` are not released yet.
I'm also waiting for these features

[2017-10-24 07:31] AndreSteenbergen commented on #294
Don't forget when you use 0.11.1 nuget package the librdkafka is in another nuget package, you have to manually add that nuget package. It is easy to see BTW, dotnet publish will throw warnings about nog having the correct compile target. If you don't get them, the redist package is not included ...

[2017-10-24 07:33] AndreSteenbergen commented on #294
Contents of a working nuget situatation (docker with jessie)

[2017-10-24 07:34] yuleyule66 commented on #346
Environment :
Visual Studio 2017 (Version : 15.4.1)
librdkafka.redist (Version: 0.11.1)

How to reproduce
================
1. Open Visual Studio 2017, Create a new netstandard class library project. (netstandard2.0)
2. Open manager NuGet package  window.
3. Search librdkafka.redist and click Install button.
4. Visual Studio Solution Explorer shown below:

![20171024153431](https://user-images.gith

[2017-10-24 09:20] krajek commented on #347
Let me know if I can help with that one. If Pause/Resume will not be available I will have to switch to much more complex solution in my project.

[2017-10-24 09:47] Bertrand67 commented on #346
Why did your remove librdkafka.redist dependency on version 0.11.1 of Confluent.Kafka nuget ?https://www.nuget.org/packages/Confluent.Kafka/0.11.1
Now it's doesn't build anymore.

[2017-10-24 09:56] yuleyule66 commented on #346
@Bertrand67 Do you have the same problem?

[2017-10-24 21:15] Bertrand67 commented on #346
Yes, I have the same problem on VS2015 with librdkafka.redist nuget version 0.11.0.

De : Savorboard [mailto:notifications@github.com]
Envoyé : mardi 24 octobre 2017 11:56
À : confluentinc/confluent-kafka-dotnet <confluent-kafka-dotnet@noreply.github.com>
Cc : Bertrand <bertrand_schneider@outlook.fr>; Mention <mention@noreply.github.com>
Objet : Re: [confluentinc/confluent-kafka-dotnet] How to hid

[2017-10-24 21:28] mhowlett commented on #346
0.11.2 is now on nuget and adds back the dependency. We won't have an implicit dependency for all platforms going forward (there are many of them), but we have decided to keep this for windows x64. in hindsight removing this was a mistake.

[2017-10-24 22:03] mhowlett commented on #291
thanks @chlowell - i'll experiment with this now.

[2017-10-24 22:06] mhowlett commented on #347
they will be in the next major release.

note that you can find an appropriate nuget package on appveyor if you want to access this functionality now (CI-75 should be fine). I'm not aware of any stability problems with master.

[2017-10-24 22:39] melnikov77 commented on #228
Any plans to release this method? I can't find it in "0.11.0.x" branch :-(

[2017-10-24 22:45] mhowlett commented on #346
After upgrading visual studio I see the 'x86' 'x64' folders too. This seems to be more of a feature than a problem - No extra folders/files are actually created in my project directory. The folders in VS seem to be just an indication that they will be created in the output directory on build. Note that I'm currently changing the details of how library loading works (there will probably be one top

[2017-10-24 22:57] mhowlett commented on #228
it will be in the next major release, or you can use a package from the appveyor nuget feed.

[2017-10-25 08:18] humbledeveloper43 commented on #294
Hello @mhowlett,

Any updates for this issue? (Dotnet Core 2.0 and confluent-kafka-dotnet usage on linux)

[2017-10-25 08:22] TheFireCookie commented on #294
As a workaround, we installed the library librdkafka-devel on CentOS ( sudo yum install librdkafka-devel ) and it works now. Just commenting to help others ;)

[2017-10-25 08:27] edenhill commented on #294
@TheFireCookie That is actually the preferred approach since it will provide the proper dependencies 👍   You should be fine with the `librdkafka1` or `librdkafka` package though, -devel not required for runtime.

[2017-10-25 16:24] scharrenberg opened #350 "Producer.Dispose does not return after awaiting ProduceAsync"
Description
===========
In the code below the execution stops when leaving the using block.
When pausing in Visual Studio the debugger reports two deadlocked tasks.

We derived the example below from the SimpleProducer example. We did not expect any significant difference in behavior, with reference to [the producer documentation](https://github.com/confluentinc/confluent-kafka-dotnet/wiki/Produci

[2017-10-25 17:27] mhowlett commented on #350
This does appear to be a problem. This is surprising since we put a fair bit of effort into resolving this previously. I will look, though unfortunately there are a few things in the queue in front of it.

[2017-10-25 20:24] krajek commented on #347
Thanks for the information

[2017-10-25 20:24] #347 closed

[2017-10-26 05:35] GarrettClyde commented on #294
Thanks @AndreSteenbergen
An explicit reference to `librdkafka.redist` wasn't my specific issue, but your comment got me looking in the right place.  It looks like this package behaves differently depending on the runtime identifier used in the `dotnet publish` command.

I was having issues with my Kubernetes cluster and the dotnet `debian.8-x64` RID so I changed it to the new `linux-x64` RID.

Whe

[2017-10-26 12:38] scharrenberg commented on #350
Thanks for the quick reply @mhowlett. Do you have any suggestions for a workaround?

[2017-10-26 13:56] ig2r commented on #350
@scharrenberg we're impacted by this issue also, but managed to work around it by having `await Task.Yield()` immediately after the call to `ProduceAsync(...)`, as suggested initially in #92.

[2017-10-26 14:41] mhowlett commented on #294
Thanks @GarrettClyde. I assume you must have also installed librdkafka by some other means?

@humbledeveloper43 - I'm in the middle of completely re-vamping the way native library loading works and re-packaging librdkafka. Yep, same status as 4 days ago, unfortunately not done yet.

[2017-10-26 16:23] alunarbeach opened #352 "Question - Support for Producing Batch Messages"
Description
===========
Any plans to support producing batched messages?
librdkafka exposes the same using `int rd_kafka_produce_batch (rd_kafka_topic_t *rkt, [int32_t partition,] rd_kafka_message_t *rkmessages, int message_cnt, int msgflags)`

 #source: https://github.com/edenhill/librdkafka/issues/112

How to reproduce
================
N/A

Checklist
=========
Please provide the following inform

[2017-10-26 16:26] mhowlett commented on #352
note that behind the scenes, messages are batched when sent to Kafka (controllable via config parameters).

there would be some performance benefit to exposing a batching API because we could reduce managed/native code marshaling overhead, but the benefit would be relatively small and I would guess we're unlikely to ever implement this - many more important things to get in first.

[2017-10-27 11:14] risogolo opened #353 "Question - multiple topics"
How do I recognize from what topic the message was received when I'm subscribed for multiple topics. I want to process the data from each topic differently ad I don't want to create a consumer per topic when not neccesary

[2017-10-27 14:16] mhowlett commented on #353
you can use the `Topic` property on the `Message` instances received.

[2017-10-27 14:26] risogolo commented on #353
But this probably works only within Consume method, what if I want use Poll method?

[2017-10-27 14:28] risogolo commented on #353
Thanks

[2017-10-27 16:02] #353 closed

[2017-10-30 16:09] TeaLeafReader199 commented on #67
What version of the .NETFramework does the Nuget package for the Judo.Kafka library support, I am currently trying to integrate it with a project running on .NETFramework 4.6?

[2017-10-30 16:17] mhowlett commented on #67
we're not involved in that project. very soon I'm going to start working on #351 which adds avro/schema registry support to this library.

[2017-10-31 14:59] alighanem opened #356 "Producer: NullReferenceException when deliveryhandler is null"
Hello,

Description
===========
I tried the suggestion written in the wiki page which explained to set the deliveryhandler at null when we produce a message to have a fire-and-forget  action (https://github.com/confluentinc/confluent-kafka-dotnet/wiki/Producing-messages).

I got a nullreferenceexception. After taking a look on the code (https://github.com/confluentinc/confluent-kafka-dotnet/blob/2

[2017-10-31 15:34] mhowlett commented on #356
Thanks @alighanem, that would be a good feature. I don't think this method has ever behaved as noted on the wiki. Labeled this issue as enhancement and removed from the wiki.

[2017-10-31 15:37] alighanem commented on #356
Thanks @mhowlett for your response 👍

[2017-10-31 20:14] #352 closed

[2017-11-03 03:07] zhaoyanhua opened #358 "How to get partition number"
How to get partition number

[2017-11-03 15:54] treziac commented on #358
This info is returned in Metadata (and inside it, topic metadata), which you can call from Consumer or Producer.

[2017-11-06 12:11] llmsjraj opened #360 "How can i implement Kafka in microervices in .net core 2.0"
I need to implement kafka in microservices in .net core 2.0 . All example are for console application.
I mean to say, i want every communication microservice to microservice should be through kafka. Can you provide a sample api in .net core to implement kafka.
 I am stuck in last 6 days but not found any solution. Would it be possible ?
Please help @ah- and @mhowlett .

Thanks

[2017-11-06 14:05] dipanshah commented on #343
Hi @mhowlett \ @edenhill ,

I have run into an issue which seems to be related to this.

We are using confluent-kafka-dotnet 0.9.5. The topic has 50 partitions but when I produce a message with the key as NULL, all the messages are going into the same partition.

I looked at Apache's documentation for Kafka and it seems that  org.apache.kafka.clients.producer.Partitioner is used to set the Random

[2017-11-06 15:32] treziac commented on #343
Can you post a snippet of your producer code? You should use a null key and not use the Produce overrides which take partition.

By default, a consistent random partitioner is used (you may find more about this in librdkafka - basically, it's juste a random between 0 and partitionCount)

Also be sure your topic has more than one insync partition

[2017-11-06 15:51] treziac commented on #356
Indeed, I wrote the doc a bit quick - I was almost sure it was working, sorry for misdirection.

[2017-11-06 15:58] mhowlett commented on #360
You will often implement micro services as a console application. The term microservice is kind of orthogonal to the .NET application type - it just means an application whose scope of work is relatively small.

[2017-11-06 15:58] #358 closed

[2017-11-06 17:57] llmsjraj commented on #360
@mhowlett  So, i cannot integrate kafka in microservices?  Microservices refers to web api.

[2017-11-06 18:04] mhowlett commented on #360
ahh right. In the kafka world, we think about microservices a little bit differently. see e.g. https://www.confluent.io/blog/data-dichotomy-rethinking-the-way-we-treat-data-and-services/

yes, you can reference the Confluent.Kafka package just like in a console application. In a web api project, ideally you will create a wrapper class around your Producer or Consumer instance to make them availabl

[2017-11-06 18:08] llmsjraj commented on #360
Thanks @mhowlett .

[2017-11-06 18:30] llmsjraj commented on #360
@mhowlett Any idea when would you provide the example of doing this in api ?

[2017-11-06 23:40] mhowlett commented on #360
something along the lines of:

[code]

[code]

[code]

[code]

[2017-11-07 04:17] kapoorrraghav opened #361 "Offsets committed on every Poll call"
Description
===========
I have disabled auto commit in Consumer. I want to commit offsets manually in Kafka and expected that unless I explicitly call consumer.CommitAsync(message) the offsets will never be committed. But, I am observing that offsets are committed on every consumer Poll() call. This doesn't sound correct, is this the normal behaviour? If yes, then what's the significance of commit

[2017-11-07 05:22] kapoorrraghav commented on #361
Looks like "enable.auto.commit" is expected to be explicitely set to false.

[2017-11-07 05:27] kapoorrraghav commented on #361
Please ignore this query. It works as expected. I removed the configuration setting of "enable.auto.commit" to manually manage offset instead of setting it to false.

[2017-11-07 06:00] dipanshah commented on #343
Hello @treziac,

I am not using any overrides for the partitioner. Still here's the code:

[code]

Thanks for helping.

[2017-11-07 06:20] llmsjraj commented on #360
Thanks @mhowlett for providing the code snippet.

[2017-11-07 16:17] mhowlett commented on #361
correct, but note that `auto.commit.interval.ms` sets the frequency at which offsets are automatically committed in the case `enable.auto.commit` is true.

[2017-11-07 19:11] TonyGerace commented on #291
Also following up - we are in the same situation as @mbirnios.

[2017-11-07 19:44] mhowlett commented on #291
@chlowell's suggestion is incorporated in #355, and should be in the release we're targeting for 20th Nov.

[2017-11-08 04:17] mhowlett commented on #360
closing this, we're tracking the task internally.

[2017-11-08 04:17] #360 closed

[2017-11-08 14:06] TonyGerace commented on #291
Great thanks @mhowlett!

[2017-11-08 15:30] comdw opened #362 "auto.commit.enable = false not working as expected"
If I set "auto.commit.enable" to false in my config, my consumer is still automatically committing offsets.  I've tried setting this both in the default topic config and outside of it but it doesn't work.

I've also tried using "enable.auto.commit", and that does work but only when specified *outside* of the default topic config - yet its supposed to be a topic configuration according to documenta

[2017-11-08 16:05] mhowlett commented on #362
thanks - the `default.auto.commit` variant should work. I'll check this, I expect this is a bug introduced when we started allowing this to be specified at the top level. This issue seems vaguely familiar actually - it may already be fixed in master.

[2017-11-08 17:17] mhowlett commented on #362
@comdw - I've just talked with @edenhill about this and there is a lot of history here. Long story short, you should configure things the way you found that works - the other alternatives are going to be depreciated.

[2017-11-08 17:56] llmsjraj opened #363 "Getting committed message when every time run the application"
This is my consumer code. and i have set the partition and offset to 0.

[code]

Whenever i start the application, all messages which are already consumed before are receiving. Even i have committed the message

`                                consumer.CommitAsync(msg);`

Is it happening due to set the partition and offset to 0 ? If so then what does CommitAsync() mean?
@mhowlett  please have a l

[2017-11-08 17:58] JoshLefebvre opened #364 "Unable to load DLL 'librdkafka': The specified module could not be found."
Description
===========
When trying to create a producer in my existing .NET 4.6.2 framework project using the latest Confluent.Kafka version:
`producer = new Producer<string, string>(config, new StringSerializer(Encoding.UTF8), new StringSerializer(Encoding.UTF8));`
I get the following error:

When I copy my code over to a .NET Core project the producer works fine.

Checklist
=========
Please pro

[2017-11-08 18:48] mhowlett commented on #363
yes. use the variant of Assign that takes `List<TopicPartition>`, not `List<TopicPartitionOffset>`, and consumption will start from the last committed offset. When you specify an offset explicitly, consumption will start from that offset (ignoring the last committed offset).

[2017-11-08 18:54] mhowlett commented on #364
I'm not sure from the information provided. You could try referencing librdkafka.redist explicitly in your project rather than relying on the implicit dependency (i'm not sure why that would work, but it might).

Note that I'm currently changing how native library loading works, and these changes are targeted for inclusion in a release on 20th Nov. Waiting for this will likely solve the issue.

[2017-11-08 20:09] JoshLefebvre commented on #364
Yea I read the following from the latest release:

However it does not state how to explicitly add the reference?  I have both packages referenced in my solutions packages.config:
[code]
and in my .csproj the only reference to librdkafka is the following at the top of the file:
`<Import Project="..\..\..\packages\librdkafka.redist.0.11.1\build\net\librdkafka.redist.props" Condition="Exists('..\..\

[2017-11-08 21:35] JoshLefebvre commented on #364
When trying to explictly reference librdkafka.redist in my .csproj as follows:
[code]
I get the follow exception:

[2017-11-09 02:33] wangkewei111 opened #365 "Confusion of using CommitAsync"
Description
===========
I'm confused about the use of CommitAsync.
Consumer test code：
[code]
![77a1a305749e518ee1efb52e9ccafc9](https://user-images.githubusercontent.com/17756087/32585066-9409cfc6-c536-11e7-9584-6847383d9b5e.png)

call CommitAsync() before Consume(),it works. the offset is 5:
![ce1e9c8746859f3aabe630d370660b4](https://user-images.githubusercontent.com/17756087/32585120-d4337494-c

[2017-11-09 08:30] comdw commented on #362
Ok, assuming [this page](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md) is the correct configuration reference(?), hopefully it can be updated.

[2017-11-09 08:52] KarolisKaj opened #366 "Manual commit takes long"
Description
===========
I am commiting every single message manually & synchronous, meaning next message will be consumed after previously finished commit. How ever when I synchronously publish a message it takes 95ms. So issue is that synchronous commit takes 1036 ms while synchronous publish takes 95 ms. How can I make commits as fast as publishes?

Maybe there is an issue with my configuration?

[2017-11-09 19:16] llmsjraj commented on #363
Thanks @mhowlett , I want to implement the error and want to handle it for both side (producing and consuming). How can i do this?

[2017-11-09 19:17] edenhill commented on #366
librdkafka will use the same broker connection both for commits and fetching messages, thus a commit may be backed up behind a long-poll blocking Fetch request.
The long-poll behaviour of fetch requests is configured with the `fetch.wait.max.ms` property that defaults to 100ms. You can decrease that value to decrease offset commit latency at the expense of a larger number of Fetch requests (depend

[2017-11-09 19:45] KarolisKaj commented on #366
@edenhill Thank you so much for getting back to me! I will try to apply these configuration properties when I get back to work.
Say, could that be the case even if one topic allows you to commit within 100 ms range while another topic performs same task 10x slower (1s)?

[2017-11-09 20:06] JoshLefebvre commented on #364
Using the following code referenced in https://github.com/confluentinc/confluent-kafka-dotnet/issues/72:
[code]
I was able to determine that the dependency to librdkafka.redist was not being resolved in my module's /bin folder but rather in a central location where all of my dll's reside for the entire solution. I am using an MVC framework called Orcahrd CMS and this uses a folder called app_data/

[2017-11-09 20:06] #364 closed

[2017-11-09 20:53] mhowlett commented on #364
thanks for giving an update on this. The x64/x86 directories need to be in the same location as Confluent.Kafka.dll (in the .NET Framework case). This is is what you describe, right?

In the next release, just a warning that the x64/x86 directories will be moved to be sub-directories of a librdkafka directory.

Also, you'll be able to explicitly specify a path to your librdkafka, something you may

[2017-11-09 21:11] JoshLefebvre commented on #364
Yep exactly that, in my case te x64/x86 directories weren't being copied over to the correct directory. This seems to be an Orchard CMS issue and not related to the package itself. Yes this will be extremly important to specify an exact location for librdkafka going forward seeing as the directory to which I need to manually copy it into is part of my .gitignore

[2017-11-10 06:26] VainEffort commented on #362
Setting {"auto.commit.enable" , false} and {"auto.commit.interval.ms", 0}  at the same time can stop auto-commit.
By the way, I find when the program exits nomally without calling Dispose() explictly (or using(var consumer) = ...{  }  ),  the consumer always commits its lastest consumed message...

[2017-11-10 08:42] jsa4000 opened #367 "Support for Exactly-once Semantic"
Description
===========

From Kafka v0.11 Exactly-once Semantics has already been implemented, however current dotnet version of Producer API doesn't allow this feature yet.

How to reproduce
================
Simply add "enable.idempotence" into the config

        var config = new Dictionary<string, object>()
            {
                {"bootstrap.servers", kafkaBrokerList.Trim() },

[2017-11-10 20:45] llmsjraj opened #368 "why message is consumed before HandleDeliveryReport event"
Hi,

i want to know why message is consumed before HandleDeliveryReport event fired. Is there any sense it? I don't know whether message is delivered or not but message is getting consumed.

@mhowlett  Is there any way to restrict that HandleDeliveryReport event is fired first then message would be consumed?

Thanks

[2017-11-10 21:17] mhowlett commented on #368
By 'consumed' I think you mean 'the offset is committed'. You can disable auto offset commit (see #362 for more info - it's a bit confusing at present) and explicitly commit the message yourself using `CommitAsync`. Note that this is relatively slow - if you want high throughput you'll need to commit periodically. There is also 'store offsets' functionality coming in the next release that can be u

[2017-11-10 22:11] David-V-Spencer opened #369 "Offset.IsSpecial property is always false."
Description
===========
The IsSpecial property never appears to be checked / set.

As a little background I have implemented an internal shared nuget package that wraps all of the confluent-kafka-dotnet features and functionality to hide references to kafka-dotnet package and align to our shared interfaces. This was an issue reported as a defect to the internal shared nuget package though investig

[2017-11-14 15:46] mhowlett commented on #369
Try, for example, calling `Consumer.Committed` on a topic/partition that has no committed offsets.

Also, I would highly recommend upgrading to 0.11.2 - it contains a number of important bug fixes.

[2017-11-15 08:38] mohoch1 commented on #328
We are also very interested in this feature.
Our producers have a very high throughput, and we need to track their state and performance all the time. Until now we had our own buffer set up before the producer, emitting statistics of TP and Queue Length every few seconds. but that indeed slows everything down.

Are there any plans to integrate this in a close release?

[2017-11-15 09:37] edenhill commented on #328
@mohoch1

Are you using OnStatistics? And do you see a slow-down when using it?

[2017-11-15 10:49] mohoch1 commented on #328
I don't see that the OnStatistics event provides any stats on the producer itself. It only describes the state of the cluster and topics.

Like the original question, I'm trying to get the current output queue length of the producer, and would also like to have a throughput metric.

Like @mhowlett [suggested](https://github.com/confluentinc/confluent-kafka-dotnet/issues/328#issuecomment-334212614)

[2017-11-15 10:56] edenhill commented on #328
OnStatistics will provide what you need, full spec here:
https://github.com/edenhill/librdkafka/wiki/Statistics

The `msg_cnt` value is the current number of messages currently handled by librdkafka:
 * messages in producer queue
 * messages in-flight to/from broker
 * message acks/delivery-reports not yet polled received by application

[2017-11-15 11:00] mohoch1 commented on #328
Great.
That would do it.

Thanks

[2017-11-15 12:08] David-V-Spencer commented on #369
Thanks @mhowlett for the response.

We will be updating to 11.2 in our next release to production.

I checked the result of calling Consumer.Committed as you suggested and I do see that the result where IsSpecial = true with offset -1001 as I would expect since the topic did not exist.

I guess that my confusion is why this doesn't seem consistent with producing or consuming and checking the Deliv

[2017-11-15 17:06] treziac commented on #369
With an exception in delivery callback, and more specifically as partition is `-1`, offset has no real meaning, and I guess that's why librdkafka does not set it to -1 (you don't need the invalid offset for this), at least for delivery callbacks. I have no java client to check if the behaviour is the same.

The -1 from hasOffset you get from the java doc is not the same thing as here:

https://git

[2017-11-15 20:07] edenhill commented on #369
For reference: some parts of the Kafka protocol treats offset -1 to mean end/latest offset, while other parts treats -1 as unset.

librdkafka differentiates these separate cases by keeping -1 for end (and -2 for beginning), but using -1001 for unset/invalid/default rather than -1.

Any positive 64-bit integer is an absolute offset.
-2 and -1 are logical offsets meaning beginning and end.

librdkaf

[2017-11-15 20:07] edenhill commented on #369
Regarding produce.offset.report not working with producev(): we should add a specific test-case for that.

[2017-11-15 20:42] treziac commented on #369
Producer just miss a `produce.offset.report` forced on a global conf I think (which we did before on each topicHandle) But we need a correct integration test for this

Concerning offset being 0 while it's not 0 but an invalid offset (in case of delivery error), are there some cases where broker could return a -1 (translated as -1001) offset, meaning there is an incoherent behaviour? Or can we safe

[2017-11-15 20:44] treziac commented on #367
This is a java configuration.
Confluent-kafka use librdkafka, which don't implement idempotent client yet.
You can track the issue here: https://github.com/edenhill/librdkafka/issues/1308

[2017-11-15 21:07] edenhill commented on #369
For delivery reports where the message error is set the offset should be ignored by the application.

[2017-11-15 22:42] jsa4000 commented on #367
Thank you Treziac.
I have already added +1 so we can have this feature in the next releases.

I have used this feature since the release of Kafka 0.11, but using the Java implementation as you said. For the rest of the platforms, I have just kept by using the old way. In this case, all messages have an unique key so they will be discarded at Producer side if repeated. As far as I know, and in gene

[2017-11-15 22:42] #367 closed

[2017-11-16 10:34] David-V-Spencer commented on #369
We have been using the error codes to determine behavior so we can continue doing so.

It does makes me a little hesitant to get an offset of 0, which is a valid offset, if it is supposed to be invalid.

[2017-11-16 16:49] mhowlett commented on #369
Thanks for your detailed commentary @David-V-Spencer. I agree with you - I think it would be much better if the offset was set to -1001 in the case it's invalid, since there is no reason not to and the way it currently works has potential to cause confusion. I'm wondering though if there are any scenarios where an error is set and a valid offset is returned - this would make deciding what's best h

[2017-11-16 18:11] edenhill commented on #369
Done:
https://github.com/edenhill/librdkafka/pull/1530/commits/2bf5ecbd28ce95693bcb2011363bea1cb9074d4d

[2017-11-16 18:55] mhowlett commented on #369
awesome

[2017-11-16 21:33] David-V-Spencer commented on #369
Thanks @mhowlett  @edenhill  and @treziac for the insights and quick responses.

[2017-11-16 21:47] mhowlett commented on #369
re-opening as a reminder to look at  producev / produce.offset.report behavior.

[2017-11-20 00:26] anupkumarsharma opened #370 "Question - Long Running Kafka Producer"
I was struggling with few basic questions when trying to code a producer which can write bulk data.
I have more of a streaming requirement where the record would be extracted every 15 seconds and written to KAFKA.

Now I have two questions on this -

1. I like the idea of creating the producer instance once(when app starts) and keep on using it. When app closed I can run Flush(<sometime>) and exit

[2017-11-20 03:41] mhowlett commented on #370
1. yes, creating a single producer is ideal. Ans yes, you will often want to call `Flush` on exit (and check the return value to see if it is == 0 - if it's not then there are messages still in flight).
2. Your code above is effectively synchronous (and slow) because you `Wait` on each delivery report. Note that the most efficient variants of ProduceAsync is the ones that takes a delegate callback

[2017-11-20 11:09] crann opened #371 "Consumer misses messages when upgrading from v0.9.5 to v0.11.*"
Description
===========

We have a topic with a single partition that contains (reasonably) static data. We have no issues connecting to the topic and reading all messages (65,223) held in the partition using the following version of the library:

`
Nuget package: Confluent.Kafka.StrongName
`
`
 Nuget package version: 0.9.5-ci-43
`

However, when we upgrade our nugget package to a newer version (0

[2017-11-20 11:12] edenhill commented on #371
Can you reproduce this with Confluent.Kafka 0.11.2 (and librdkafka.redist 0.11.1) with the `debug` config property set to `msg,cgrp,fetch,protocol` and reproduce the issue (preferably with a limited scope, e.g., consuming only the offsets which show this problem)?
We would be very interested in seeing those logs.

Thanks

[2017-11-20 23:59] mhowlett commented on #371
also, feel free to provide a small (complete) snippet in which the problem occurs and we can have a look for any problems that you might have missed.

[2017-11-21 07:58] VinayDanda opened #372 "After upgrade to Kafka 1.0.0 version : java.lang.OutOfMemoryError: Java heap space"
Description
===========
I upgraded Kafka from 0.10.2.1 to 1.0.0 version. And only from then, I'm seeing the kafka service going down because of below issue:
```ERROR [KafkaApi-1] Error when handling request ; (kafka.server.KafkaApis) {replica_id=-1,max_wait_time=500,min_bytes=1,topics=[{topic=xxxx,partitions=[{partition=1,fetch_offset=847134777,max_bytes=1048576}]}]} java.lang.OutOfMemoryError: Ja

[2017-11-21 08:46] crann commented on #371
@edenhill, @mhowlett apologies for the delayed response. I would need to send this information through an email. Do you have one that I can use?

[2017-11-21 08:47] edenhill commented on #371
@crann my first name at confluent dot io

[2017-11-21 08:54] edenhill commented on #372
How many partitions are you consuming?

Does it help to decrease `fetch.message.max.bytes` on the consumer?

[2017-11-21 10:45] VinayDanda commented on #372
Thanks Edenhill for your reply.
3 partitions are being consumed, with replication factor 2.
As i see, there shouldn't be an issue with the fetch.message.max.bytes on the consumer because before the upgrade, it was working perfectly fine without any issues. So, this wouldn't make difference.

[2017-11-21 10:47] edenhill commented on #372
Also provide your client configuration (see Checklist above)

[2017-11-21 12:55] VinayDanda commented on #372
I'm using Apache Kafka: version - 2.12-1.0.0.
Consumer instance is logstash to pull data from kafka.
Not using librdkafka.redist/confluent.kafka.

[2017-11-21 12:58] edenhill commented on #372
So you are not using confluent-kafka-dotnet?

[2017-11-21 13:41] VinayDanda commented on #372
Nope. I'm using only Apache Kafka. If this is wrong place to post the question, can you please direct the right link.

[2017-11-21 13:44] edenhill commented on #372
This repo is for issues with Confluent's .NET kafka client only.

For questions about Apache Kafka itself, use the kafka-users mailing list:
https://kafka.apache.org/contact

[2017-11-21 13:44] #372 closed

[2017-11-21 13:47] VinayDanda commented on #372
Thank you, and sorry for the trouble.

[2017-11-21 14:10] David-V-Spencer opened #373 "Consuming from Invalid Topic and End of Valid Topic is Indistinguishable"
Description
===========

Subscribing to a valid or invalid topic and calling
```var messageConsumed = Consumer.Consume(out kafkaMessage, pollInterval)```
the consumer just returns a null value making it unclear if the consumer is just reading from the end of a valid topic and there is no more messages or if the consumer is subscribed to an invalid topic.

Observed behavior is consuming from an inv

[2017-11-21 15:57] comdw opened #374 "Unsubscribe does not trigger immediate rebalance"
I'm testing out consumer groups and have several consumer instances with the same group id that have called Subscribe() for the same topic.

When I start a new consumer, a rebalance on existing consumers is triggered and all works as expected.

However when I (cleanly) stop consuming on one of the consumers, rebalancing is not triggered until the session timeout (30 seconds I think).  I.e. the sam

[2017-11-21 16:03] edenhill commented on #374
You can troubleshoot this issue by enabling `debug` `cgrp` on the consumers, look for when the Heartbeat for the remaining consumers fail and the rebalance start to kick in. It should be shortly followed by a rebalance (OnPartitionsRevoked in .NET) and a LeaveGroupRequest.

[2017-11-21 16:19] comdw commented on #374
OK, so my consumer leaves at 16:09:50.  The remaining consumer gets normal heartbeat logs after this, e.g.

[code]

This continues until about 30 seconds (the session timeout) later:

[code]

I could try and attach a complete set of logs if that would help...

[2017-11-21 16:21] edenhill commented on #374
That sort of indicates that the leaving consumer did not actually send a LeaveGroup, but is timed out instead.

Try `debug` `cgrp,protocol` on the leaving consumer, look for LeaveGroup

[2017-11-21 16:44] comdw commented on #374
Attached the log from the point I'm calling unsubscribe etc.  No mention of LeaveGroup, but then there isn't in the C# .NET client code either - it calls LibRdKafka.unsubscribe for Unsubscribe() and LibRdKafka.consumer_close for Dispose()

[leavingConsumerDebugLog.txt](https://github.com/confluentinc/confluent-kafka-dotnet/files/1492182/leavingConsumerDebugLog.txt)

[2017-11-21 16:48] edenhill commented on #374
Can you share your code that calls Unsubscribe()?

Also; you don't have to explicitly call Unsubscribe, closing the consumer is sufficient.

[2017-11-21 17:15] comdw commented on #374
I tried just disposing the consumer without calling unsubscribe first and it does behave differently (another log attached).  This time "leave group=yes".  But the behaviour on the remaining consumer didn't change - the revoke/rebalance appears to be happening only on the closing consumer.

[leavingConsumerDebugLog2.txt](https://github.com/confluentinc/confluent-kafka-dotnet/files/1492295/leavingC

[2017-11-21 17:17] edenhill commented on #374
[code]

The dispose-only triggered a LeaveGroup request, did you see anything interesting in the other consumer debug logs at this time? (Heartbeat failure)

[2017-11-21 17:26] comdw commented on #374
My apologies - it did indeed immediately trigger the rebalance on the other consumer!

Shouldn't the Unsubscribe call by itself trigger this rebalance though?  Not only that, but in my case something is happening to stop the leave group occurring when I Dispose.

[2017-11-21 17:30] edenhill commented on #374
Yes, Unsubscribe() will trigger a LeaveGroup when OnPartitionsRevoked returns (or specifically, when Unassign() is called from that delegate).

Seems contradictory to:

Can you elaborate?

[2017-11-21 17:34] comdw commented on #374
Sorry, I meant that in the case where I call Unsubscribe first, something happens to stop the leave group occurring when I then Dispose (so no immediate rebalance on the other consumer).  If I only call Dispose, then the leave group happens and the rebalance also happens immediately on the other consumer.

My OnPartitionsRevoked handler is calling Unassign().

[2017-11-21 17:40] edenhill commented on #374
Can you share your code that calls Unsubscribe, and the OnPartitions* delegates, I want to understand how you are using the APIs

[2017-11-21 17:57] mhowlett commented on #373
This seems less than optimal to me as well. One difference between the two cases is if you `Subscribe` to a non-existent topic, the `OnPartitionsAssigned` and `OnPartitionsRevoked` events never get called. I thought that calling `Assign` would result in an error for non-existent topics, but it does not. @edenhill some commentary on the behaviour here would be good when you have a spare moment.

[2017-11-21 18:12] edenhill commented on #373
I agree, it should fire off an _UNKNOWN_TOPIC or .._PARTITION consumer error.

This issue should be moved to librdkafka.

[2017-11-21 18:56] David-V-Spencer commented on #373
I am pretty new to participating on open sourced projects...

@edenhill Do I need to do anything like open a ticket on https://github.com/edenhill/librdkafka or anything else for this?

@mhowlett Similarly anything else I should do on this ticket?

[2017-11-21 19:37] edenhill commented on #373
You are doing great, David V Spencer!

You can just create a new issue on librdkafka with your original input from this issue, it all applies, and then we'll reference the librdkafka issue from this one by a link.

[2017-11-22 10:01] comdw commented on #374
After a bit more debugging, I can say that no OnPartitionsRevoked is fired if I simply call Unsubscribe() - the logs say `delegating revoke of 2 partition(s) to application rebalance callback on queue rd_kafka_consumer_close: unsubscribe`.

Once I call Dispose() then I get the OnPartitionsRevoked event, which I respond to with Unassign().  This bit behaves differently depending on whether I called

[2017-11-22 10:11] edenhill commented on #374
@mhowlett Can you look into why the rebalance_cb is not invoking OnPartitionsRevoked when Unsubscribe() is called?

[2017-11-22 15:13] comdw commented on #374
Now attached simplest console app that exhibits the problem.  Nothing special going on here.  You need to start two instances and use a topic with more than one partition.  Once things are up and running, press Ctrl-C on one instance to trigger the unsubscribe, followed by another keypress to dispose (no immediate rebalance).

Then run the whole thing again with the Unsubscribe call commented out

[2017-11-22 17:31] mhowlett commented on #374
I modified the above attached program to take a count value as an extra argument. I ran one instance with a very large value (so it wouldn't exit) and the other instance with smaller value and waited for it to exit. I see the `OnPartitionsRevoked` method is called immediately as expected on the instance that exits (note that `consumer.Unsubscribe` is called). I'm working on OSX. So if I understand

[2017-11-22 19:50] edenhill commented on #374
librdkafka ignores all signals.

[2017-11-22 20:12] gazareid opened #375 "Losing/dropping Messages in High Availability Producer"
Description
===========
I have a topic that needs to

- guarantee "at least once" sending, and

- have the highest possible availability.

I have set up an asynchronous producer in a loop that sends 2 million random message at a topic "testpoc". The topic "testpoc" is on 3 partitions in my 3 broker cluster and is set to a replication factor of 3.
This all works perfectly under normal circumstances

[2017-11-22 20:21] edenhill commented on #375
Are you seeing any `Failed message: ..`?

[2017-11-22 20:43] gazareid commented on #375
The only thing I'm seeing in the console is:
![image](https://user-images.githubusercontent.com/17958119/33148970-15cad3b2-cf8b-11e7-8db6-892c3c8f48b4.png)

[2017-11-22 20:48] edenhill commented on #375
You need to call Flush() before disposing the producer to make sure all in-queue and in-flight messages are delivered (or fails)

[2017-11-22 20:58] gazareid commented on #375
Okay, that sounds logical. I tried that and I still dropped ~2600 messages. Here is the errors I got in the console:
![image](https://user-images.githubusercontent.com/17958119/33149453-0872f3c8-cf8d-11e7-9169-b182b236c4c5.png)

And just to clarify, I'm not bringing the broker back up. My test is to intentionally leave it down.

[2017-11-22 21:02] edenhill commented on #375
Use a higher timeout for Flush() to allow all your messages to be produced (the upper limit would be somewhat higher than `message.timeout.ms`)

[2017-11-23 09:05] comdw commented on #374
Tried that modification and get the same result (no waiting for keypresses, the exiting consumer calls Unsubscribe before the implied Dispose at the end of the using block).

Is this part of the log not relevant to what is going on:

unsubscribe from current subscription of 1 topics (**leave group=no**,

vs when not calling unsubscribe first:

unsubscribe from current subscription of 1 topics (**l

[2017-11-23 16:03] kavyashivakumar commented on #67
@treziac in your sample https://github.com/treziac/Judo.Kafka/tree/master/test/Sample how is logicaltype taken care of? you mentioned it can be done for simple objects. i'm looking for "date"

[2017-11-23 19:37] afrancoc2000 opened #376 "Why is Consumer.Consume going away?"
Hi, I have an implementation of a consumer that runs everyday and reads everything in a topic and then process it and sends it to a file.

I like the way the reactive programming using Poll and OnMessage works but, in my case I'm not being reactive and I don't intend to stay reading if there are no new messages. I will just stop the app until the next day and then it can read all the new messages.

[2017-11-23 20:24] mhowlett commented on #376
Hi @afrancoc2000 - thanks for the feedback! you can be confident the `Consume` method is not going to be removed. We have removed this warning in the master branch.

[2017-11-23 20:36] #376 closed

[2017-11-23 21:26] afrancoc2000 commented on #376
Thanks!!!

[2017-11-24 13:23] TaiAivaras opened #378 "Multiple consumer instances, or nah?"
Hey,

I'm facing a challenge of needing to consume different types of messages in my application. I was wondering what are some of the best practices for this case - is creating multiple connections to Kafka cluster the best solution?

Also for this case - what would be the best way to handle deserializers? Would a generic object deserializer would be possible?

Thanks!

[2017-11-24 20:02] gwake1 commented on #378
I think this might help: http://www.enterpriseintegrationpatterns.com/patterns/messaging/CanonicalDataModel.html

[2017-11-24 20:21] gazareid commented on #375
I see that the default value for message.timeout.ms is 300000 so I set the flush for 350000 like so:
`var ret = producer.Flush(350000);`
Is this what you were suggesting?
With this set there was no noticeable difference in the number of messages dropped. A few minutes after the loop is complete all the console writes that I put in the loop print out with the error "Local: Message timed out"
If I'm

[2017-11-25 14:52] mhowlett commented on #378
@gwake1's comment is good (side note: avro serdes are not too far away), and required if you're trying to store different types in the same topic. If you have different types in different topics, the most efficient way to do what you want is to consume as `byte[]` then switch on topic name and deserialize by hand. If you're not network resource constrained (i.e. your cluster is small & you only ne

[2017-11-27 10:13] TaiAivaras commented on #378
I see - thanks for the answers, closing the question.

[2017-11-27 10:13] #378 closed

[2017-11-27 15:25] gazareid commented on #375
Also, the task.result.error.haserror being is triggered at timeout, rather than the msg being retried. Is this what it is supposed to do?

[2017-11-27 16:57] peodor opened #379 "When SSL enabled: failed: err: Local: Broker transport failure: (errno: Success)"
Description
===========
After enable SSL, this error occurs each minute:
BROKERFAIL failed: err: Local: Broker transport failure: (errno: Success)
STATE Broker changed state UP -> DOWN

OnError called with: Receive failed: SSL syscall error number: 5: Success

What happens (each minute)? What could cause this issue?
Seems a receive and publish message works.

How to reproduce
================

Che

[2017-11-27 16:57] edenhill commented on #379
Please fill out the checklist

[2017-11-27 18:29] David-V-Spencer opened #380 "Feature Request: Producer and Consumer Interfaces for IOC and Unit testing"
Description
===========
Unit testing is critical for any production application and Dependency Injection is a very common design pattern used in C# applications.

With the absence of interfaces for the producer and consumer in Kafka-dotnet mocking/substituting the kafka dependency in unit tests is difficult and requires abstracting the library with an extra layer.

Additionally the producer and co

[2017-11-27 20:48] mhowlett commented on #380
Thanks @David-V-Spencer - this is high priority, yes. the second most requested feature behind avro/schema registry integration. i will try to get this done soon, but it'll happen after avro/sr as there is huge demand for that.

[2017-11-27 23:06] gazareid commented on #375
Okay @edenhill I think I've reached a solution but I don't really like it.
I set up a separate producer that runs and regularly flushes the queue
`producer.Flush(100);`
and I handle the errors by retrying all the failed messages. Then I lowered the message.timeout.ms to allow me to timeout messages and retry them more frequently.
This has resolved my issue of dropping messages, but it's a job I ex

[2017-11-27 23:44] gazareid commented on #375
Here's my entire producer
https://github.com/gazareid/gaza-confluent-kafka-dontnet-producer/blob/master/Program.cs

[2017-11-28 11:16] David-V-Spencer commented on #380
@mhowlett  Thanks for the response. Looking forward to this addition as well as schema registry.

[2017-11-28 13:18] afrancoc2000 commented on #72
Hi, I'm having the same problem in version v0.11.2 in an azure function. I get this error:

[code]

any ideas?

[2017-11-28 13:21] davederrick commented on #86
I'm experiencing the same issue. If I catch the exception & sleep for 10x 500ms it still fails, but if I sleep for 20x 500ms it returns with the expected data. As I'm trying to use this in a monitoring system of Kafka performance, introducing delays isn't really a good solution to the problem.

[2017-11-28 13:26] afrancoc2000 commented on #72
do you know why librdkafka.dll isn't signed?

[2017-11-28 16:48] mhowlett commented on #72
@afrancoc2000 - I've not deployed an azure function before, but I'm guessing you're targeting .NET Framework and the x86/x64 directories containing librdkafka.dll are not being copied over to the same directory as Confluent.Kafka.dll. I'll add a task for myself to try this deployment scenario to investigate.

Also, you can try the CI build 0.11.2-ci-164 which includes changes to library loading (a

[2017-11-28 17:11] bigmacd commented on #294
I am using dotnet core 2.0 (2.0.3) and including Confluent.Kafka version 0.11.2 and librdkafka.redist 0.11.1.

On windows it runs fine.  When deployed to a Docker container (FROM microsoft/aspnetcore-build-nightly), it throws the following exception when I try to publish a message:

The type initializer for 'Confluent.Kafka.Impl.LibRdKafka' threw an exception."

What would anyone suggest as the so

[2017-11-28 17:21] mhowlett commented on #294
incompatibility with the dotnet core 2 docker image is resolved in CI build: 0.11.2-ci-164 and will be included in the 0.11.3 release which will most likley happen later this week.

[2017-11-28 17:37] edenhill commented on #375
I don't see where you are counting the number of delivered messages, you only seem to count errored messages that are retried:
https://github.com/gazareid/gaza-confluent-kafka-dontnet-producer/blob/master/Program.cs#L60

So how do you do know if all messages are produced or not?

A message.timeout.ms of 3s is very low, I suggest increasing it and relying on the library to perform retries for you.

[2017-11-28 21:47] gazareid commented on #375
@edenhill Thanks for replying so much you're awesome!
To count them I'm actually doing a count of offsets in the topic on the kafka server with the following command:
`docker run --net=host --rm confluentinc/cp-kafka:3.3.1 kafka-run-class kafka.tools.GetOffsetShell --broker-list localhost:19092 --topic testtopic --time -1 --offsets 1 | awk -F ":" '{sum += $3} END {print sum}'`
I have a flush in th

[2017-11-29 07:05] edenhill commented on #375
One last thing to try is to increase the Flush() timeout to a larger value, well above message.timeout.ms+socket.timeout.ms.
In your case I suggest 5m

[2017-11-29 16:37] gazareid commented on #375
I adjusted the flush() timeout to 300000ms(5min). And just to be clear, the way that is done is to put "300000" in the parenthesis in "flush()" right? like this:
[code]
 If there is some documentation on "flush()" I haven't been able to find it. Any links would be greatly appreciated.

I ran another test like those from above and it still lost messages only producing 988644/1000000 messages.
Can y

[2017-11-29 17:22] githubask opened #381 "Messages lost / unordered / strange behaviour"
Description
===========
I've written a kafka producer WebService on a dotNet platform.
My configuration is Windows 7/VisualStudio Premium 2013 /.NET framework 4.6.01055
Confluent.Kafka: 0.11.2 / librdkafka 0.11.1

I simply call the webservice giving a number of messages to be sent (this is a load test).
It generates messages with a simple increment number. Like "This is message 34587"

If I call m

[2017-11-29 17:50] mhowlett commented on #381
@githubask - are you checking the `Error` property of the delivery report returned from your produce calls (per message errors will occur there, not via an `Error` event)? you could also try setting the "debug" configuration property to "all" and looking for problems in the log messages. When you call `Flush` have a look at the return value and verify it is 0.

Ordering of consumed messages is gua

[2017-11-30 10:41] githubask commented on #381
Many thanks for your quick reply @mhowlett
I obviously am missing something with the timeout parameters.
As you proposed, I checked the Error ( I supposed you meant producer.ProduceAsync(...).Result.Error) and observed some timeout.

I'm using batches of 5 messages. Flushing after the 5 were ProduceAsync'd.
I see there might exist LocalErrors or BrokerErrors. In fact mines are ALWAYS LocalError ti

[2017-11-30 12:34] afrancoc2000 commented on #72
Thats great thank you @mhowlett, I'm trying to download the CI build 0.11.2-ci-164 but I haven't been able to find it in the prerelease nugets, do I have to compile it myself?

[2017-11-30 14:53] bschmidtbauer commented on #381
@githubask take a look at this issue, it addresses the latency on windows.
#https://github.com/confluentinc/confluent-kafka-dotnet/issues/221

[2017-11-30 15:00] edenhill commented on #381
`message.timeout.ms` should allow for internal queueing, socket buffer queueuing, network latency, broker response handling, network return path, and temporary system or network hickups/contention, reconnect-times, etc.

It should be set to a the maximum value a producer should be allowed to produce a message before the message is deemed irrelevant, since this depends on your application we can't

[2017-11-30 16:09] nguyenhm2009 opened #384 "Question: How to pass keytab from Kafka .NET Client (Window server) to Kafka broker (Linux server)?"
Hi,
I've been trying to apply the SASL Kerberos authentication with the use of a keytab (principal name & encrypted password) using the Confluent.Kafka library (version 0.11.2)
I am struggling to pass a keytab file from Kafka .NET client (residing in Window server) to the Kafka broker (residing in Linux server).

I setup the properties for Kafka Broker (server.properties) as below
         listene

[2017-11-30 16:45] petersonnek commented on #384
You don't actually use a keytab file for a client running on a windows machine. librdkafka uses a different library for SASL on windows machines. There's also a bit if a bug in the code for windows. It doesn't actually use `sasl.kerberos.service.name` at all, instead it uses `sasl.kerberos.principal`. Underneath the covers, the SASL library sends the principal executing your client as the identity

[2017-11-30 16:47] gazareid commented on #375
@mhowlett Thanks for taking this issue
And thanks for the link on `Flush`

-  I put the producer in a using block
-  I am using ProduceAsync with a ContinueWith callback to count the successful and unsuccessful messages
-  I added a while loop to ensure everything is flushed
-  I wanted to wait on adding linger.ms until after the problem is solved, unless you think that might help.

I am still dro

[2017-11-30 16:53] mhowlett commented on #384
thanks for that @petersonnek. IIRC, the configuration bug you mention has been resolved and should no longer be a problem in version 0.11.3 which i'm about to do a RC for.

[2017-11-30 17:53] nguyenhm2009 commented on #384
Thank you @petersonnek!

Does that mean I need to create a broker keystore for the pem cert (i.e. pemfilelocation.pem), and configure the broker's configuration file "server.properties"?
If so, how can I configure these to the configuration file, "server.properties" ?

[2017-11-30 18:01] nguyenhm2009 commented on #384
Also, I want to come back to my initial question.
How do I setup Kerberos for a Kafka .NET client (instead of your suggestion to use TLS/SSL)?

[2017-11-30 18:13] petersonnek commented on #384
We're using SASL_SSL not SASL_PLAINTEXT. You don't need `{ "ssl.ca.location","pemfilelocation.pem"}` for your situation.

[2017-11-30 19:15] petersonnek commented on #384
I'm posting our security confing in server.properties below for SASL_SSL. We are transition away from PLAINTEXT. The SSL and SASL_PLAINTEXT listeners are enabled because it helped us debug getting SASL_SSL working. You can ignore all of the PLAINTEXT, SSL, and SASL_SSL config for your SASL_PLAINTEXT scenario. Refer to the Kafka documentation for me details https://kafka.apache.org/documentation/#s

[2017-12-01 06:20] LeDucThang opened #386 "Connect failure to kafka server"
Description
===========
I installed kafka by tutorial : https://www.vultr.com/docs/how-to-install-apache-kafka-on-centos-7
and used Advance Producer from https://github.com/confluentinc/confluent-kafka-dotnet/blob/master/examples/AdvancedProducer/Program.cs and project installed nuget Confluent.Kafka -Version 0.11.2

But i can't run success example and the error returned is "Local: Message timed o

[2017-12-01 18:12] mhowlett commented on #386
i sounds like you've configured bootstrap.servers incorrectly (it should be IP:PORT, eg 127.0.0.1:9092) or maybe you have some security settings blocking access.

[2017-12-02 02:08] LeDucThang commented on #386
This is my configuration of bootstrap.servers
 string brokerList = "10.1.11.244:9092";
string topicName = "OrganizationEntities";

i only successed 1 time when i used docker pull wurstmeister/kafka. However, when i try others kafka docker or my instance on server, i just have got Messsage timed out. The returned error didn't show the real cause for me.
I still see a established connection from my

[2017-12-02 16:31] mhowlett commented on #386
try using the confluent docker images using the instructions here:
https://docs.confluent.io/current/installation/docker/docs/quickstart.html

you can set the "debug" configuration property to "all" for very verbose client logs.

the client assumes that brokers will go down from time to time and considers this normal. it will just keep trying to reconnect in the background. if a message can't be d

[2017-12-04 15:25] afrancoc2000 commented on #72
Copying the files manually to the bin folder worked. Thank you very much :)

[2017-12-04 15:28] SuchimayaMohanty commented on #291
@mhowlett Is the 20th Nov release changes are available to use?

[2017-12-04 15:48] afrancoc2000 commented on #258
How did you solve this? I'm having the same problem inside an azure function and a worker role

[2017-12-04 15:52] afrancoc2000 commented on #258
Sorry just added an await some where :P

[2017-12-04 17:25] mhowlett commented on #258
@afrancoc2000 what version of Confluent.Kafka are you using?

[2017-12-04 17:26] mhowlett commented on #291
@SuchimayaMohanty - just uploaded it to nuget.

[2017-12-04 17:26] #291 closed

[2017-12-04 17:35] mhowlett commented on #72
Closing as the original issue should be resolved. There are still scenarios where `System.DllNotFoundException` can happen, but 0.11.3 includes `Library.Load` as a workaround and all cases I'm aware of that we intend to fix have been fixed.

[2017-12-04 17:35] #72 closed

[2017-12-04 19:38] chiru1205 opened #388 "Multiple Subscribes and Unsubscribes using single consumer instance"
Description
===========
I'm working on a recovery process which will replay messages based on a key value and recreate our data objects. During replay , there is a chance that recovery process kicks in multiple times for multiple keys to recreate our data object collection. I was able to achieve what I wanted but noticed that there is an unmanaged exception thrown in the librdKafak.dll and it comp

[2017-12-04 20:30] mhowlett commented on #388
@chiru1205 - can you upgrade to 0.11.3 and verify this is still a problem? there have been substantial changes since then, and it's possible this is no longer an issue.

If there is still a problem, it'd be great if you could provide a minimal program demonstrating it - this would help a lot in verifying / tracking down it down.

thanks for the feedback!

[2017-12-05 08:42] merlin-king opened #389 "System.DllNotFoundException: Failed to load the librdkafka native library"
System.DllNotFoundException: Failed to load the librdkafka native library
===========

An error occurred using the Dotnet core Web API
Errors are as follows

Microsoft.AspNetCore.Server.Kestrel[13]
Connection id "0HL9RN5T1D654", Request id "0HL9RN5T1D654:00000001": An unhandled exception was thrown by the application.
System.DllNotFoundException: Failed to load the librdkafka native library.
at Co

[2017-12-05 12:36] afrancoc2000 commented on #72
Tryed the new nuget v0.11.3 it works great! thanks!

[2017-12-05 12:49] afrancoc2000 commented on #258
I was using v0.11.2 but the problem was mine, I didn't awaited the call to poll messages

[2017-12-05 16:34] mhowlett commented on #389
@merlin-king - we do not currently include a build of librdkafka for centos, though in the future we plan to support this platform. you can either run your application within docker (microsoft's images are debian based), or specify the location of librdkafka manually using the `Library.Load` method (available in version 0.11.3). You can get a suitable build for centos using Confluent's packages, o

[2017-12-05 16:37] mhowlett commented on #258
thanks @afrancoc2000 - we shouldn't be throwing access violation exceptions anywhere, so reopening this as a reminder to investigate this case. low priority bug though.

[2017-12-05 18:46] TheMidgardWatcher commented on #389
Hi there!

I have similar issue on Openshift+RedHat docker images.
After I used Library.Load method I got such error message:

[code]
I assume that the dll was found but not loaded correctly.

Also i can add that we use OpenShift's s2i-dotnetcore images with RedHat OS and this builder runs
`dotnet publish`  command and I'm not sure  if it publishes it correctly to get it work.

I'll appreciate any

[2017-12-05 18:49] chiru1205 commented on #388
@mhowlett , here is a sample code that shuts down the application

_recoveryConsumer =
             new Consumer<Null, string>(
                  GetConsumerConfig(
                      Guid.NewGuid().ToString(),
                      "localhost:9092", false), null, new StringDeserializer(System.Text.Encoding.UTF8));
long[] currentOffset = { 0L };
_recoveryConsumer.OnMessage += (_, m) =>

[2017-12-05 18:56] chiru1205 commented on #388
I also tried assign and unassign, it did work but I see a different problem. Here is the data I see in the logs after running recovery for 4 times, this time using assign and unassign combination instead of subscribe , unsubscrie. It appears each assign will be an instance of consumer that will fecth data. Since I ran the recovery 4 times, 4 th run its fetching same data 4 times.

![image](https:/

[2017-12-05 19:29] edenhill commented on #388
debug=fetch,topic  can be useful to see what and why a consumer is fetching

[2017-12-05 19:31] slafave opened #390 "Native lib no longer being loaded in 11.3"
Updated my project from 11.2 to 11.3.  Native lib no longer being loaded.  Null reference exception being thrown.  Confluent.Kafka.Library.IsLoaded is false.

If I load up the Confluent.Kafka solution from this repo, I get the same error running any of the examples.

The error goes away and Confluent.Kafka.Library.VersionString returns "0.11.1" in my project if I revert to the 11.2 package.  The e

[2017-12-05 19:44] mhowlett commented on #390
the .lib files are static libraries and not needed - they've been removed to make the nuget package smaller.

Can you try referencing Confluent.Kafka version 0.11.3-RC1-ci-170 (hidden on nuget.org) - I tested this under a scenario very similar to what you outline (and 0.11.3 shouldn't be any different).

I will try to replicate/investigate in a few hours. We've made some big changes to all this.

[2017-12-05 19:49] slafave commented on #390
Same issue under Confluent.Kafka 0.11.3-RC1-ci-170

[2017-12-05 19:51] chiru1205 commented on #388
13:41:47,655 [9]  - Starting......
 13:41:53,454 [9]  - Recovery Consumer Task Started...
 13:41:53,468 [18]  - OnLog Message : rdkafka#consumer-1,7,PARTSTATE,[thrd:main]: Partition TestTopic [0] changed fetch state none -> active
 13:41:53,472 [18]  - OnLog Message : rdkafka#consumer-1,7,CGRPOP,[thrd:main]: Group "4b756696-e53d-43c1-bb81-be958e626443" received op PARTITION_JOIN in state up (join

[2017-12-05 19:53] chiru1205 commented on #388
@edenhill This is what I see for two runs

[2017-12-05 20:12] slafave commented on #390
If I try to direct load it with Confluent.Kafka.Library.Load(@"<mypath>") I get "Failed to load librdkafka at location '<mypath>'. Win32 error: 126".  I verified I have full permissions to <mypath>.

[2017-12-05 20:18] gazareid commented on #375
@mhowlett @edenhill
It's been a while since either of you have commented. Is this still being looked at?
I have been asking in forums. I even tweeted about it. This is a major roadblock for my people.

[2017-12-05 21:13] mhowlett commented on #375
your code is incrementing `successful` and `errored` on many threads with no synchronization. This would almost certainly mean the line `Console.WriteLine($"errored: {errored} successful: {successful}");` will understate the number of messages actually succeeded / errored. What does this line print out when you run the code? and what is the corresponding number of messages reported in by your `kaf

[2017-12-05 21:56] mhowlett commented on #390
this suggests to me that one of librdkafka's dependencies can't be loaded (which would also explain why it works on my system and not yours). @edenhill - have any of the dependencies changed since 0.11.1?

You could try installing c++ redistributables from VS 2013 and VS 2015 (I have these installed, so my first guess is this).

If that doesn't help, feel free to have a look at the difference betw

[2017-12-05 22:02] mhowlett commented on #389
in the future we plan to support RedHat transparently, but for now you'll need to use `Library.Load`.

the shared library for RedHat should have an extension .so, i.e. librdkafka.so. Where are you getting the binary from? you can use the confluent packages https://docs.confluent.io/current/installation/clients.html#c-c or install from source https://github.com/edenhill/librdkafka#building

[2017-12-05 22:06] mhowlett commented on #389
if the library is installed via our packages or from source as instructed and it will be in a standard path, and I think you should be able to load it using just `Library.Load("librdkafka.so")` (if you just installed it, you may need to call `ldconfig` to update the cache).

or you can deploy the redhat compatible binary along with your app and use an absolute / relative path.

[2017-12-05 22:14] gazareid commented on #375
@mhowlett Thank you so much for getting back to me.
I only put the incrementing `successful` and `errored` code in becuase @edenhill asked me to,

I could see after the first run that it wasn't counting every loop. But the command I'm running to count the messages should be accurate.
[code]

I only commented out the flush lines because I was testing both with and without it and mistakenly committe

[2017-12-05 22:37] TheMidgardWatcher commented on #389
@mhowlett I'm not sure if i understood you correctly. Let me clarify what i mean:

- I have some repo with aspnet core application
- And I have configured OpenShift application (wich has Rhel images as it's base)
- In that application I have github hook configured to listen pushes to my repo, if it receives push, it starts building and deploying application

I'm not building or configuring anythin

[2017-12-05 23:01] edenhill commented on #375
@gazareid Try to split the problem into smaller chunks:
 * Count the number of successful and errored deliveries on the client (and do it in a thread-safe manner so the counters can be trusted).
 * Call Flush() with a timeout that is at least 2x the message.timeout.ms
 * Make sure Flush() returns 0 - meaning there are no outstanding messages waiting to be sent to the broker.

If you've reached thi

[2017-12-05 23:08] edenhill commented on #390
@mhowlett There should be no change how the librdkafka.redist libraries are built, the only thing that differs is your layout changes to the package.

[2017-12-06 02:34] mhowlett commented on #375
`GetOffsetShell` won't, in general give the number of messages in the partition, but the latest offset should be greater than or equal to the number of messages in the partition, and here it is not. I think i'm sufficiently worried that I'm going to try and replicate. @gazareid, it would still be good to see if you get the the same count by consuming and counting messages vs `GetOffsetShell` (and

[2017-12-06 02:41] mhowlett commented on #390
@slafave - it would also be good to know if 0.11.3 works with .NET Framework or .NET Core 1.1 / 1.0 on your machine. I don't see how this would be a factor in your problem, but maybe there is something I don't understand.

If there is anyone else out there hitting this problem, please chime in so we can get an idea of how widespread it is.

[2017-12-06 02:46] mhowlett commented on #389
@TheMidgardWatcher correct. You'll need to get a librdkafka.so that is compatible with the docker image. I suggest compiling from source inside a docker container of the type you will be deploying to (you'll need to install g++ and some other packages to do this probably). Then include this librdkafka.so in your project and make sure it's deployed with your project. then reference this as a parame

[2017-12-06 11:07] TheMidgardWatcher commented on #389
Hey @mhowlett ,

Just tried to publish project on my win workstation to get this 'so' libraries. I got them and put to root directory of the project. It was published to OpenShift successfully, but when I tried to call `Library.Load`
I got error message again:
[code]
I've checked files inside of deployed POD - they are there:
[code]
Before start using confluent.kafka (e.g. connection to brokers an

[2017-12-06 14:24] slafave commented on #390
I have VS 2013 and VS 2015 installed as well, so I have those c++ redistributables.

I'll go thru dependency walker, try a couple of different simple solution configurations, Framework and Core combinations.

[2017-12-06 15:25] slafave commented on #390
I updated my VS2017 instance to 15.5 on 12/4.  That update installed new versions of all C++ redistributables.  It also looks like it uninstalled all the 2015 C++ redistributable, for some odd reason.  Let me install the latest 2015 C++ redis and see if it helps.

[2017-12-06 15:48] slafave commented on #390
I can't reinstall the 2015 C++ redistributables, they are considered a downgrade of the latest 2017 ones.
2017 version -> 14.10.25008
2015 version -> 14.0.24212

I verified in a simple console project that I cannot load the native 11.3 DLL in Framework, Core 1.0, 1.1, or 2.0.  The 11.1 native DLL works fine in all.

In dependency walker, both 11.1 and 11.3 display the same errors of not finding so

[2017-12-06 16:13] edenhill commented on #390
The only difference I see between librdkafka.redist 0.11.1 and 0.11.3 is that the librdkafka*.lib files were removed from runtimes/, not sure if that's the issue or not, it should not rely on those.

@mhowlett any ideas?

@slafave You could try manually copying librdkafka.lib from build/native... to the appropriate runtimes folders

[code]

[2017-12-06 16:23] lakario commented on #390
Tested on two systems using LINQPad as my .NET environment. Exception produced shows that the latest version of the Confluent.Kafka package is trying to read librdkafka.dll from a path which does not exist:

 C:\Users\user\AppData\Local\LINQPad\NuGet.FW46\Confluent.Kafka\Confluent.Kafka.0.11.3\lib\net46\runtimes\win7-x86\native\librdkafka.dll

[2017-12-06 16:50] mhowlett commented on #345
`IgnoreDeserializer` has been added in 0.11.3

[2017-12-06 16:50] #345 closed

[2017-12-06 17:00] mhowlett commented on #390
@slafave - can you double check this is definitely correct:

note that the dependencies contained in the nuget package (msvcr120.dll and zlib.dll) must be in the same location as librdkafka.dll, if they are not you would see the above.

@lakario - thanks for the input, this would appear to be another issue. I'm guessing this is related to moving `librdkafka.redist.props` in the nuget package (whic

[2017-12-06 17:03] slafave commented on #390
@edenhill adding the lib files did not help

@mhowlett I verified all files from the NuGet are in the directory I tried to load from

[2017-12-06 17:21] slafave commented on #390
@mhowlett Could it be something with your updated loader code?  When I point the new Confluent.Kafka.Library.Load method to the v11.1 lib path, I get the same exception with Win32 error: 126 that I get when I point to the 11.3 lib path.

[2017-12-06 17:23] mhowlett commented on #390
@slafave - good data point, i'll look at that.

[2017-12-06 17:42] slafave commented on #390
@mhowlett Gotta be the updated loader code -> when I replace the 11.1 native binaries with 11.3 native binaries in my NuGet cache, the 11.2 version of Confluent.Kafka.dll loads the 11.3 native DLL. Confluent.Kafka.Library.VersionString displays "0.11.3" in the 11.2 Confluent.Kafka.dll.

[2017-12-06 18:26] mhowlett commented on #390
Another data point: I just tried to replicate on a fresh AWS instance.

Windows_Server-2016-English-Full-Base-2017.11.29 (ami-f6d8008e)
VS 2017 15.5
.Net Core 2.0.3

librdkafka is loading fine without an explicit `Library.Load` call, and also loads fine when specifying an absolute path to `Library.Load` (the load mechanism is different in each case).

[2017-12-06 18:30] mhowlett commented on #390
@slafave - can you paste the exception trace mentioned below? Also, I assume this is when you're not attempting to load the library manually?

[2017-12-06 18:38] slafave commented on #390
Correct, this exception is not when I'm attempting to load the library manually.

[code]

[2017-12-06 18:43] mhowlett commented on #390
Did you attempt `Library.Load()` without any arguments before calling `Library.Version`? (this is necessary - only the producer and consumer constructors auto-call this). Maybe we should auto load on `Library.Version` as well, come to think of it..

[2017-12-06 18:43] mhowlett commented on #390
i mean loading the library in some way (`Library.Load` with or without path to librdkafka).

[2017-12-06 18:47] slafave commented on #390
That worked!

Is that new behavior?  I've always called Confluent.Kafka.Library.Version as one of the first lines in my service, so I can verify which native lib is loaded.  No producers or consumers have been instantiated at that point.  So that call worked in < 11.3. :)

Also, the version string I get is "721919" instead of the expected "0.11.3" -> is that new behavior?  What does "721919" refer

[2017-12-06 18:51] mhowlett commented on #390
The string should be 0.11.3 - you would be printing `Library.Version` not `Library.VersionString`.
Yes, this is new behavior. Previously there was no capability to manually load the librdkakfa. `Library.Load` is new. It's auto-called in producers and consumer constructors only, not in the call to `Library.Version`

My learning from this thread is that `Library.Version` should auto-call `Library.Lo

[2017-12-06 18:53] slafave commented on #390
Sorry for the rabbit-chase, didn't occur to me to try that.

I see VersionString is what I meant and it does indeed return "0.11.3" as expected.

Thanks for the assistance!

[2017-12-06 18:54] mhowlett commented on #390
this still leaves the issue you're having specifying the absolute path to librdkafka unresolved. My best guess is you're doing something wrong (I've tested this in a few environments), but the loading mechanism is a different in this case, so there may be a real issue. I'll wait for more complaints before investigating this further.

[2017-12-06 18:57] slafave commented on #390
Does the absolute path need to include the library as well?  The documentation makes it sound like just the path itself is fine.

I was doing this - "C:\Users\slafave\.nuget\packages\librdkafka.redist\0.11.1\runtimes\win7-x64\native"

Did I need to do this? "C:\Users\slafave\.nuget\packages\librdkafka.redist\0.11.1\runtimes\win7-x64\native\librdkafka.dll"

[2017-12-06 18:57] jbezak opened #391 "ProduceAsync takes about 1000ms"
Description
===========
After changing our library to Confluent.Kafka we noticed significant performance downgrade when producing messages to kafka. After some research we found out that setting `socket.blocking.max.ms = 1` solves the issue but it is marked deprecated in [librdkafka configuration](https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md)

Is there another known way how

[2017-12-06 18:58] edenhill commented on #391
It is not deprecated on Windows, see:
https://github.com/edenhill/librdkafka/wiki/How-to-decrease-message-latency

[2017-12-06 18:59] mhowlett commented on #390
yes. cool, looks like another misunderstanding. I'll update the docs to make that clear.

thanks for the feedback. This may seem like a rabbit-chase, but I think both things will commonly confuse people, so I'll fix them up.

[2017-12-06 18:59] #390 closed

[2017-12-06 19:00] #391 closed

[2017-12-06 19:01] mhowlett commented on #390
@lakario - I'm unable to test this because it looks like I need a LINQPad license to reference the Confluent.Kafka nuget package. The way un-managed packages work in the .NET Framework case is not as good as .NET Core, and I suspect you're running into an issue we won't ever resolve (maybe not, though likely).

The `Library.Load` method was added for such situations. Specify the path (including fi

[2017-12-07 13:03] jeroenheijmans opened #393 "Message headers support"
Someone [asked](https://stackoverflow.com/q/47051899/419956) on Stack Overflow about message headers support. I see that [@mhowlett already answered](https://stackoverflow.com/a/47058322/419956) that this depends on [the related PR in `librdkafka`](https://github.com/edenhill/librdkafka/pull/1480).

I hope you don't mind, but I'd like to open this issue here ([search gave 0 results atm](https://gi

[2017-12-07 15:57] TheMidgardWatcher commented on #389
Addition:
Now I'm facing this error message:
[code]

[2017-12-07 16:10] rajayaad opened #394 "Seek api behavior differs from native Java Consumer APIs Seek?"
I had been waiting for a month for Seek api to be added(https://github.com/confluentinc/confluent-kafka-dotnet/issues/290).
But with reference to documentation of Seek api at :
https://github.com/confluentinc/confluent-kafka-dotnet/blob/45790d9af1fea47555f58ff611c103388a2d2d92/src/Confluent.Kafka/include_docs.xml#L101

as well as what I am observing from testing, calling Seek when partitions are a

[2017-12-07 16:11] edenhill commented on #389
Try installing OpenSSL 1.0.x

[2017-12-07 16:40] TheMidgardWatcher commented on #389
Hi @edenhill ,

Since I'm using openshift and RedHat's s2i-dotnetcore builder image to run my aspnet core 2.0 application it wouldn't be so easy... But if there are no other options I'll try to add openssl lib to application template tomorrow, because I don't see any possibility to do it another way. I can't do anything inside of running container...

[2017-12-07 17:04] mhowlett commented on #389
if you don't need ssl or sasl, you could compile a version of librdkafka that doesn't include these features that (i believe) won't depend on libcrypto

[2017-12-07 17:05] TheMidgardWatcher commented on #389
But the problem is that I need ssl, as our kafka cluster uses ssl authentication .

[2017-12-07 17:13] mhowlett commented on #393
thanks @jeroenheijmans, +1 noted.

[2017-12-07 18:47] mhowlett commented on #394
Assigning manually and the assign done after a subscription assignment are the same thing. I'm not completely familiar with how seek in librdkafka works. perhaps there is a problem related to specifying an offset of -1 in the assign call (which is what happens whilst subscribing). you could override the `OnPartitionsAssigned` method and try `Assign`ing in there with a specific offset that is not -

[2017-12-07 19:23] edenhill commented on #394
@rajayaad
Seek() may only be called for Assign():ed partitions, its main use is to seek/skip during consumption, for the case where you want to start consuming at a certain position you would use the TopicPartitionOffset-variant of Assign().

Due to implementation differences between the (originally) single threaded Java consumer and the multi-threaded librdkafka consumer there was a need in librd

[2017-12-07 20:56] gazareid commented on #375
@mhowlett
Please let me know the results of your attempts to replicate.
This matter in our opinion is CRITICAL as we cannot go into production with a massive hole in the availability of the solution. Please also know that in my team's testing the Java client does not do this and ‘out of the box’ works fantastically. However, considering our environment we would prefer to use the dotnet client.

I

[2017-12-08 00:08] mhowlett commented on #375
I tried to reproduce by doing the following:

Added synchronization to the success/error counts in the above code.
created a 3 partition topic with replication factor 3 on a 3 broker cluster.
killed the controller broker during as the program was running.
I'm on macos, dotnet core2, librdkafka 0.11.3

the application prints: errored: 13298 successful: 986702
The sum of the end offsets in each part

[2017-12-08 03:48] rajayaad commented on #394
Thanks @mhowlett , @edenhill , for quick response.
So, both of you are suggesting that I use "Subscribe" api, and when OnPartitionsAssigned is invoked, I call "Assign" (on same partition that has already been allocated to current instance) with custom offset.

I started trying that. So, on OnPartitionsAssigned, say current instance gets assigned 4 partitions, i get offsets for each of 4 from my db

[2017-12-08 08:29] edenhill commented on #394
librdkafka is a tad more flexible when it comes to the actual assignment by allowing the assignment to be modified before applying it.
One emerging use-case is to use a balanced consumer group with a set of topics that are balanced across the consumer, but also adding a common topic+partition that all consumers in the group consumes. The assign() call from within OnPartitionsAssigned allows you to

[2017-12-08 12:46] pavel-agarkov commented on #344
That contradicts with what is written earlier:

[2017-12-08 13:41] jschmidtWK commented on #326
The assign() strategy is a no go due to "long" startup time when a partition is switched. My use case being a few thousand partitions at once (IoT case with one partition per device) the iteration takes too long.

For now and until the internal queues are exposed I'm just artificially limiting the consumption rate when the buffer system on my end reached a hundred thousand messages. Not as pretty

[2017-12-08 13:41] #326 closed

[2017-12-08 13:44] jschmidtWK commented on #290
Thank you mhowlett, the tests on our end are green and we are moving to production with ci-48, Seek() works like a charm.

[2017-12-08 13:44] #290 closed

[2017-12-08 14:11] edenhill commented on #326
@jschmidtWK It sounds like you're not using the balanced consumer (subscribe()) but assign():ing thousand of partitions directly with assign(), and since assign() is an absolute API, not incremental, each invocation will have a cost in terms of stopping fetchers, clearing out existing queues, looking up new offsets, starting fetchers again.
librdkafka's legacy consumer (which the new high-level co

[2017-12-08 14:27] jschmidtWK commented on #326
I'm actually using a Subscribe() on one topic and mirroring the Assign() manually on another (two kinds of message per device, each has its own topic with one partition per device).

[2017-12-08 14:29] edenhill commented on #326
Oh, ok :+1:

[2017-12-08 14:36] jschmidtWK commented on #326
My apologies if I was curt, such was not my intent. Your provided answer to the prioritization of message actually allowed the system to work more than well enough for a production environment.

I'll consider creating a PR to expose the underlying Queues if the current solution creates a bottleneck down the line, but as it stands I doubt it since all I'm doing is throttling Poll().

Thanks again f

[2017-12-08 14:57] TheMidgardWatcher commented on #389
Hi there,

After I've done all the things as it was suggested in https://github.com/redhat-developer/s2i-dotnetcore/issues/152 I've got following message:
[code]

I assume that we have OpenSSL v1.0.2k installed in Rhel image that we are using.

Is there any chance to get 'librdkafka.so' compiled against latest version of OpenSSL out of the box.
Or I should go the way where i need to compile it by

[2017-12-08 16:54] gazareid commented on #375
@mhowlett
Thank you so much for reproducing for me. You HAVE recreated my issue. Your 13298 messages are what I'm concerned about. They aren't being "retried" by the library automatically as very clearly explained in @edenhill 's documentation here:
https://github.com/edenhill/librdkafka/blob/master/INTRODUCTION.md#message-reliability

And the default settings for the retry logic should suffice fo

[2017-12-08 19:29] mhowlett commented on #375
I'm not sure why librdkafka is considering this a non-retriable error - it seems to me that it shouldn't need to, though I expect there is some technical reason why this is the case.

there are other scenarios that are considered not retriable as well. generally, you definitely need to handle delivery reports with errors and assume the message didn't get through.

[2017-12-08 19:39] mhowlett commented on #389
openssl versioning a recurring nightmare for us... As of Confluent.Kafka 0.11.3 we're set up to be able to distribute different versions of librdkafka in a super flexible way (and allow manual loading as a fallback as we're trying to get going here), but we don't include any Rhel builds in librdkafka.redist yet (which is the package referenced by Confluent.Kafka). I don't expect we'll do this for

[2017-12-08 22:29] joncatlin commented on #375
I work with Gary and am concerned that the underlying librdkafka is not working correctly. Having spent time with the Java client, it does not exhibit this sort of behavior. Out of the box the Java client handles this situation without having to manually retry anything. I know they are different technologies but I would have thought that if the Java producer can handle this situation then another

[2017-12-08 23:12] mhowlett commented on #375
If you have configured max retries to be 1 then delivery reports are guaranteed to be provided in the order the messages were sent provided you use a deliveryHandler variant of ProduceAsync. If you use ContinueWith's (like you are doing), tasks are given to you on a thread pool thread, so order cannot be guaranteed. Note that any messages in the librdkafka queue will be sent, if possible, regardle

[2017-12-08 23:17] rajayaad commented on #394
Alright, both tests succeeded, i.e. with calling Assign inside OnPartitionsAssigned :
1) Single Instance : No adverse affects. I was able to read from all assigned partitions.
2) More importantly, with multiple instances, Kafka's auto-rebalancing still works. So in that way, it does seem to differ from Java api's documentation.

Note: Its very important to call "Unassign" at end of OnPartitionsRev

[2017-12-08 23:54] mhowlett commented on #394
librdkafka has only a 'rebalance' callback. This is split out into two events in the C# client.

Specifying either `OnPartitionsAssigned` or `OnPartitionsRevoked` will cause this rebalance callback to be provided to librdkafka and thus stop `Assign` being automatically applied inside librdkafka.

thanks for the details feedback, this is un-intuitive enough behavior that i'm going to label it as a

[2017-12-09 05:32] mhowlett commented on #394
just looked at this again. my previous comment is incorrect (as noted, I was in a hurry...).

if you add a handler to an `OnPartitionsRevoked` event, you must call `Unassign` in it. If you don't add a handler, `Unassign` will be called automatically for you. i don't like this API, but I can't think of anything better that exposes the full functionality librdkafka provides. needs documenting.

[2017-12-09 11:32] edenhill commented on #394
The librdkafka<->application contract is for the application to call assign() from OnPartitionsAssigned and unassign() from OnPartitionsRevoked, this is required to synchronize internal state.
That is, however, in C and C++.

The high-level language bindings can be more forgiving;
what the Python and Golang clients do is check if assign() and unassign() has been called from the delegate, and if no

[2017-12-11 10:32] jeroenheijmans opened #395 "What is the recommended way to go from (producer) Error to Exception?"
(This is a question, not a bug report or feature request. Since I'm looking for (possibly subjective) guidance, posting on Stack Overflow is not an option. I saw some issues tagged "question" so I'm hoping this is the right place.)

I'm using v0.11.3 and am looking at the `AdvancedProducer` example for guidance. It doesn't handle the situation where `deliveryReport.Result.Error.HasError` is `true`

[2017-12-12 09:09] mhowlett commented on #395
`KafkaException` is what you're looking for.

[2017-12-12 14:30] jeroenheijmans commented on #395
Wow, how did I even... why didn't I... it's.... in plain sight.

Sorry for wasting everybody's time 😬 and thanks for the prompt reply!

[2017-12-12 14:30] #395 closed

[2017-12-12 14:34] TheMidgardWatcher commented on #389
Hello!

I'm glad to report that finally we made it work!

Following your instructions we've built librdkafka.so under Centos7 image and replaced it in my project - and it works!

Thanks for all your suggestions!
I hope you'll find time to release package with built-in lib for Rhel/Centos out of the box.

[2017-12-12 22:04] mhowlett commented on #375
@joncatlin @gazareid - thanks for your persistence. you are right, this scenario should be auto-retried. It'll be fixed in the next release.

[2017-12-12 22:17] edenhill commented on #375
We're working on formalising and fixing the retry behaviour in librdkafka, we'll keep you posted.

[2017-12-13 10:16] joncatlin commented on #375
Many thanks guys for digging in and getting to the bottom of this. Please let us know if we can help with the testing.

[2017-12-13 14:57] gazareid commented on #375
@edenhill @mhowlett You guys are awesome. Thank you very much for your stellar community involvement.

[2017-12-13 15:45] ttallskog commented on #314
This solved my problem...

[2017-12-13 22:41] mtrtm commented on #343
I'd love to know when this work is scheduled for - we are evaluating this as a possible production client, but obviously cannot mix this with the Java client when the partitioning is different.  Are you looking for any help on it?  I did not see that you are when looking in the 'help wanted' section...

[2017-12-13 23:34] mhowlett commented on #343
I notice that librdkafka recently added a murmur2 partitioner (same as java) https://github.com/edenhill/librdkafka/pull/1468

it should be possible to make use of this via dotnet but it would require modifications to the dotnet library. i was hoping this functionality would be made available via a new librdkafka config property (which would make it available in the language bindings without any m

[2017-12-14 04:03] ChildePig commented on #89
I encountered the same problem, looking forward to finding a solution.

[2017-12-14 10:17] edenhill commented on #343
Yes, the plan is to initially expose the builtin partitioners as string config properties.
Going forward we might want to make it possible to register new custom partitioners with the configuration interface so they too can be configured this way.

[2017-12-14 16:58] nagarjuna119 commented on #229
Hi Mantesh, were you able to get this working? I am having the same issue

[2017-12-14 17:05] petersonnek commented on #229
@nagarjuna119 are you using the latest version? I'm pretty sure there was an issue handling SSL in the version released when this issue was opened.

[2017-12-14 18:18] nagarjuna119 commented on #229
Yes, I am on  0.11.3, Below is sample I am trying to use the sample below, after a long wait I get invalid partition. changing the port to non SSL port and removing ssl config's works fine.

        static void Main(string[] args)
        {
            string brokerList = "kafka.test.test.net:9093";
            string topicName = "testtopic";

            var config = new Dictionary<string, object

[2017-12-14 18:20] nagarjuna119 commented on #229
Yes, I am on 0.11.3, Below is sample I am trying to use the sample below, after a long wait I get invalid partition. changing the port to non SSL port and removing ssl config's works fine.

    static void Main(string[] args)
    {
        string brokerList = "kafka.test.test.net:9093";
        string topicName = "testtopic";

        var config = new Dictionary<string, object>
        {

[2017-12-15 09:40] comdw commented on #31
@mhowlett  I'm considering switching back to auto commit in the light of StoreOffsets support, assuming I've understood it correctly.

Background: Our consumers "acknowledge" received messages out of sequence, hence (with auto commit off) we're locally tracking what's been acked and then on a regular interval working out the latest offsets that can be committed (we can only commit an offset if it

[2017-12-15 11:49] framiere commented on #350
Can you confirm that #382 fixes the issue?

[2017-12-15 13:44] comdw commented on #374
@mhowlett - any progress on your investigation?  I'm still seeing this in latest release of the nuget package..

[2017-12-15 15:04] comdw opened #397 "Small bug in Error.Reason getter?"
Description
===========
I think there is a small bug in Error.Reason when no reason has been set.  Null reference exception when mapping the error code to a string.

How to reproduce
================
Easy:
[code]

Checklist
=========
Please provide the following information:

 - [X] Confluent.Kafka nuget version: 0.11.3
 - [X] Apache Kafka version: 0.11.3

[2017-12-15 21:06] mhowlett commented on #350
yes, I checked this and it's resolved.

[2017-12-15 21:06] #350 closed

[2017-12-15 21:13] mhowlett commented on #397
I think this is because the library isn't loaded (i.e. have you called `Library.Load` or instantiated a `Producer` or `Consumer`. Can you confirm? this behavior was actually by design, but in hindsight I'm going to label this a bug. I should auto-load librdkafka on any attempted usage of librdkafka functionality.

[2017-12-15 21:38] mhowlett commented on #31
@comdw - yes, store offsets just stores in memory and it sounds like this fits your use-case well.

Errors in auto-commit are exposed at the application level (i.e. via the `Consumer.OnError` event in dotnet) as a warning:

https://github.com/edenhill/librdkafka/blob/master/src/rdkafka_cgrp.c#L1921

[2017-12-17 07:04] nagarjuna119 opened #398 "Unable to produce messages using SSL from windows machine"
Below is sample I am trying to use, after a long wait I get invalid partition. changing the port to non SSL port and removing ssl config's works fine. Nonwindows and non .net clients are working fine

How to reproduce
================
 static void Main(string[] args)
{
    string brokerList = "kafka.test.test.net:9093";
    string topicName = "testtopic";

    var config = new Dictionary<string, o

[2017-12-17 08:34] edenhill commented on #398
Enable the `{"debug", "security,broker"}` configuration property to see what is going on

[2017-12-18 05:33] nagarjuna119 commented on #398
Below are the logs with debug, any ideas what could be wrong..?

7|2017-12-17 21:23:02.210|rdkafka#producer-1|SSL| [thrd:app]: Loading CA certificate(s) from file C:\certs\CARoot.pem
7|2017-12-17 21:23:02.210|rdkafka#producer-1|BROKER| [thrd:app]: ssl://kafka.nonprod.xxx.net:9093/bootstrap: Added new broker with NodeId -1
7|2017-12-17 21:23:02.210|rdkafka#producer-1|BRKMAIN| [thrd::0/internal]: :0

[2017-12-20 10:33] comdw commented on #397
No this was in a unit test - I was just creating an example error response to test my calling class behaviour so that would make sense I guess.  Its easy to avoid by passing a reason into the constructor so I'm not too worried about this.

[2017-12-20 21:43] mhowlett commented on #397
right. if you load librdkafka using `Library.Load` in your unit test, you shouldn't get the exception. I'll change the code to do this automatically.

[2017-12-21 01:38] ayoung commented on #255
I am waiting for this as well. Keep us updated.

[2017-12-21 21:37] edhalsim commented on #389
Hi,
I'm new to Linux and Kafka and I'm also trying to get this working on CentOS 7.2.  Would someone please tell me exactly what to specify in Library.Load?  I'm trying to run the SimpleProducer using:  dotnet run ... and I'm getting this error.  Thanks for your help.

[2017-12-21 21:57] TheMidgardWatcher commented on #389
Hi @edhalsim

Seems like you are having sane issue as me. So what you need to do:
- Build librdkafka from sources in your environment. Clone git repo of it and follow instructions in repo's readme (find there section 'Build' or something like that)
- Take from the build artifacts file **librdkafka.so** and put it in any convinient folder (you also can do it like me: include it in your .net project

[2017-12-21 22:00] mhowlett commented on #389
thanks @TheMidgardWatcher - beat me to it! one more thing, I think you should also be able to omit the full path to librdkafka if it's installed in a standard location on your system (and you've run `ldconfig`).

[2017-12-21 22:04] edhalsim commented on #389
@TheMidgardWatcher Thanks for the response.  This is what I started doing, but when I ran ./configure I got:
checking for OS or distribution... ok (Linux)
checking for C compiler from CC env... failed
checking for gcc (by command)... failed
checking for clang (by command)... failed
checking for cc (by command)... failed (fail)
checking for C++ compiler from CXX env... failed
checking for C++ compi

[2018-01-03 07:46] edenhill commented on #343
The next version of librdkafka (the underlying Kafka client) will expose the builtin partitioners as configuration properties, allowing you to change to an alternative builtin partitioner, such as the Java compatible murmur2_random partitioner.

Search for 'partitioner' here: https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md

Custom partitioners are not yet exposed in the .NET cl

[2018-01-03 14:24] KarolisKaj opened #399 "Latest offset before first commit"
Description
===========
When creating a new consumer for new topic and starting consuming it starts off from latest offset. For example we have 10 message in single partition topic then we wait for 11th message when starting to consume.

I use Offset.Stored value for this and further in the process I manually commit messages. So, how can I default to 0 offset commit? There were no previous manual

[2018-01-03 14:27] edenhill commented on #399
Set the topic-level configuration property `auto.offset.reset` to `earliest` to make the Consumer starts from the earliest available offset when there is no usable committed offset.

[2018-01-03 16:07] edhalsim opened #400 "Runtime error: DLLNotFoundException: kernel32"
Description
===========

I'm getting the following error when running a sample program on CentOS 7:
Unhandled Exception:  System.DllNotFoundException: kernel32
  at (wrapper managed-to-native) Confluent.Kafka.Impl.LibRdKafka+WindowsNative:LoadLibraryEx (string,intptr,Confluent.Kafka.Impl.LibRdKafka/WindowsNative/LoadLibraryFlags)
  at Confluent.Kafka.Impl.LibRdKafka.Initialize (System.String userS

[2018-01-03 19:27] mhowlett commented on #400
You'll need to use the `Library.Load` method to explicitly set the path to your librdkafka.so binary. We will hopefully have out of the box support for CentOS before too long, this is becoming a common issue.

[2018-01-03 21:29] edhalsim commented on #400
Thanks for your reply.  I tried that and I'm having the same issue.  I added:
    Library.Load("/home/<path>/Mobius-master/examples/Streaming/Kafka/bin/Release/librdkafka.so");
Then did a rebuild of the Mobius examples on Linux, but when I run it I get exactly the same error. except now it's coming from Library.Load:
  at Confluent.Kafka.Impl.LibRdKafka.Initialize (System.String userSpecifiedPath)

[2018-01-03 21:38] mhowlett commented on #400
did you build `librdkafka.so` on that machine? it may be missing some dependencies. do you require security features? if not you could try disabling them in your librdkafka build. These are responsible for most problems.

[2018-01-04 14:51] edhalsim commented on #400
Yes I built it on my machine.  At this time, no, I do not believe I need any security features.  How do I disable those in the build?

[2018-01-05 00:55] csyszf opened #402 "Please consider to abstract a rawer Consumer/Producer class"
Hi,

I've noticed that:

but in many of my cases, I need to manually consume/deserializ messages (to adapt existing framework),
so I hope that there could be two or more public Consumer/Producer class——
1. a base Consumer/Producer，more free, more plain, just wrap the librdkafka.
2. Consumer<TKey, TValue> as high-level Consumer/Producer with advaced method like Poll().

Is this reasonable?

[2018-01-08 17:12] dandago opened #404 "[Question] How does Producer/Consumer reliability work?"
I was trying out some of the samples of the Confluent Kafka .NET client and I noticed neither the consumer nor the producer throws an exception at any stage in the code if the broker is not even running.

I presume this is by design and that the producer/consumer would automatically resume its operation when the broker becomes available again, but I was wondering whether you could point me to any

[2018-01-08 17:17] dandago commented on #404
Using Confluent.Kafka 0.11.3.

[2018-01-09 11:43] Imran-Wahab commented on #375
@edenhill @mhowlett :
We are also facing the data loss during graceful shutdown of one of kafka broker nodes during performance testing. We are using java client 1.0.0 for testing. Following are the details
Kafka Broker 1.0.0 - 3 node cluster with replication factor of 3
A topic is created with 400 partitions
4 Kafka producers (version 1.0.0), each sending 1000 msg's per second on a topic by using

[2018-01-09 11:53] edenhill commented on #375
Please provide your configuration

[2018-01-09 12:14] Imran-Wahab commented on #375
@edenhill :Thanks for responding quickly.

Following is the producer configuration
kafka.acks:all
kafka.linger.ms:0
kafka.num.put.retries:15
kafka.key.serializer:org.apache.kafka.common.serialization.StringSerializer
kafka.value.serializer:org.apache.kafka.common.serialization.ByteArraySerializer
kafka.partitioner:org.apache.kafka.clients.producer.internals.DefaultPartitioner
kafka.replace.classlo

[2018-01-09 12:17] edenhill commented on #375
That looks like Java Producer configuration.
Are you seeing an issue with the .NET client?

[2018-01-09 12:20] Imran-Wahab commented on #375
@edenhill  : This issue i am facing is with Java Producer.

[2018-01-09 12:21] edenhill commented on #375
@Imran-Wahab This is for confluent-kafka-dotnet issues only, for the Java clients I suggest the [official documentation](.apache.org/documentation.html) and the kafka-users mailing list.

[2018-01-10 01:29] msdotnetclr commented on #398
Your code says "{"ssl.ca.location", @"C:\certs\windows\ca-cert"}" while the log says "Loading CA certificate(s) from file C:\certs\CARoot.pem". Inconsistency?

[2018-01-10 01:32] msdotnetclr commented on #379
@peodor did you supply a valid CA cert?

[2018-01-10 09:20] comdw commented on #374
Having been looking at this issue again and re-read the discussion above I realise I may not have explained properly what I perceive the issue to be:

Two consumers in the same group - Consumer A and Consumer B.
When Consumer A unsubscribes, I agree *its* partitions are immediately revoked, but I'm expecting **Consumer B** to immediately rebalance (revoke/assign) to pick up the partitions that are

[2018-01-10 09:38] edenhill commented on #374
You can't get immediate rebalance to work at all? Or the delayed?

[2018-01-10 10:33] comdw commented on #374
I can't get immediate rebalance to happen on Consumer B when Consumer A unsubscribes, it happens after the delay session.timeout.ms.

Things do happen immediately locally on Consumer A when it unsubscribes.

[2018-01-11 11:17] mohoch1 opened #405 "How to read from the end of a topic, regardless of the group's committed offset"
Description
===========
How do I tell the consumers in a group to start reading only new messages, from the moment they joined, and to discard all the messages they missed since they last read from the topic?

We have a component that processes the messages in real time, and there is no point processing them after a few minutes. So if the consumers go down for any reason, I would like them to disc

[2018-01-12 21:55] badyam opened #406 "ProduceAsync returns a task which never completes"
Description
===========
When Producer constructed with disableDeliveryReports = true option,
then ProduceAsync returns a task which never completes.
That may lead to a blocking of code execution and, potentially, to memory leaks.
This behavior is mentioned in docs on disableDeliveryReports parameter in Producer's constructor:

Despite of the fact this behavior is being described in docs, it seems

[2018-01-12 23:19] MadhuSudhanCS opened #407 "fluent go client not reconnecting"
Description
===========

How to reproduce
================

Checklist
=========
Please provide the following information:

 - [ ] Confluent.Kafka nuget version:
 - [ ] Apache Kafka version:
 - [ ] Client configuration:
 - [ ] Operating system:
 - [ ] Provide logs (with "debug" : "..." as necessary in configuration)
 - [ ] Provide broker log excerpts
 - [ ] Critical issue

[2018-01-12 23:20] #407 closed

[2018-01-14 01:14] sfrooster commented on #343
@mhowlett any estimate as to when this might find its way in?  We first started asking about this in early May 2017 https://github.com/confluentinc/confluent-kafka-dotnet/issues/165 , followed-up again in early August https://github.com/confluentinc/confluent-kafka-dotnet/issues/274, and now we're having customer issues because of this one issue.  Really looking forward to addressing this.

[2018-01-16 17:08] mhowlett commented on #343
@sfrooster - do you just need a partitioner matching the java client (murmur2_random), or custom partitioner functionality? the option to use the murmur2_random partitioner will be in the next release version.

[2018-01-16 17:13] mhowlett commented on #406
thanks @badyam - completely agree. this should be a quick win - feel free to submit a PR :-) or I will get to implementing it myself at some point.

[2018-01-16 17:54] sfrooster commented on #343
@mhowlett murmur2_random matching the java client would suffice.  Are we talking about 0.11.4 then?

[2018-01-16 18:27] mhowlett commented on #343
the next release that aligns with a librdkafka release. we don't have a target date yet, but it shouldn't be too long. I may do a .net release before that to get SR/Avro integration out.

[2018-01-17 09:29] alinmotogna opened #408 "Is it possible to set per-topic config variables?"
Description
===========
Found this discussion on the go library https://github.com/confluentinc/confluent-kafka-go/issues/20

My use case is that I'm using a generic subscriber wrapper class to consume from several topics, and some of them I only need to read from latest offset, while others need to subscribe from the begining

Checklist
=========
Please provide the following information:
 - [ 0.1

[2018-01-17 09:32] edenhill commented on #408
You can control the starting offset in your OnPartitionsAssigned delegate by calling Assign() with specific offsets to start consumption (default is use committed offset, fall back on auto.offset.reset)

[2018-01-17 11:51] freegodo commented on #389
i publish use docker,when docker is run 。report error:Error:
  An assembly specified in the application dependencies manifest (Local.deps.json) was not found:
    package: 'librdkafka.redist', version: '0.11.3'
    path: 'runtimes/linux-x64/native/debian9-librdkafka.so'

what can i do?

[2018-01-17 16:37] mhowlett commented on #389
@freegodo - i'm not sure why that would happen. You could try explicitly referencing librdkafka.redist in your .csproj file in addition to Confluent.Kafka. Let me know if that works.

[2018-01-17 16:50] mhowlett commented on #389
@edhalsim - try `yum install gcc gcc-c++`. you may need to install other things as well - for those, google 'yum install &lt;whatever you is currently failing&gt;'

[2018-01-17 17:57] edudelta opened #409 "System.InvalidOperationException: Error while loading librdkafka.dll or its dependencies"
Description
===========
I'm facing this issue when trying to run a test case.

How to reproduce
================

Environment:
- Windows 10 x64
- Visual Studio Enterprise 2017 (both 15.5.3 and 15.5.4)
- .NET 4.6.1
- Confluent.Kafka 0.11.3 livrdkafka.redist 0.11.3

Message: Test method Integration.Tests.ProjectEventHandlerTests.FirstTest threw exception:
System.InvalidOperationException: Error whil

[2018-01-17 18:27] mhowlett commented on #409
Thanks - I've run into this as well doing integration tests for Avro - librdkafka is not automatically deployed for .NET Framework test projects (though everything is fine using .NET Core). At this stage I'm not sure if this is easily fixed or whether it's a more fundamental limitation with how nuget works in the .NET Framework case.

[2018-01-17 19:45] badyam commented on #406
Thanks! I'll take care on a PR.

[2018-01-18 14:10] afrancoc2000 opened #411 "Consumer not reconecting on Connection Closed"
Description
===========
I'm getting a connection error from kafka in my consumer, this happens from time to time, the problem is that after the connection error the client doesnt re-open a connection and I start to get lag, is there some configuration I'm missing? or why is my connection not being re-established?

This is my code:

            var config = new Dictionary<string, object>

[2018-01-18 14:36] edenhill commented on #411
Do you have any client logs from such an occasion?
What confluent-kafka-dotnet and librdkafka.redist versions are you using?

[2018-01-18 14:41] afrancoc2000 commented on #411
This is the log I'm getting:
Error: 10.1.0.12:9092/3: Connection closed

I'm using confluent-kafka-dotnet V0.11.3 and librdkafka.redist V0.11.3

[2018-01-18 15:07] afrancoc2000 commented on #411
I'm also getting timeouts:
Error: 10.1.0.11:9092/2: 1 request(s) timed out: disconnect (average rtt 15891.000ms)

The problem is that it doesn't open the connection again, and I'm getting a great lag and I have to restart my service to get messages.

[2018-01-18 15:26] edenhill commented on #411
Looks like you might have connectivity issues.
Can you reproduce the problem with the `"debug"` config property set to `"broker,cgrp,topic"` and provide logs from where it goes down and doesn't come up again?

[2018-01-18 19:14] mhowlett opened #412 "Intermittent AggregateException exception on Producer Dispose"
Description
===========

I have seen the below exception thrown intermittently whilst running integration tests.

Failed   Confluent.Kafka.IntegrationTests.Tests.TypedProducer_ClosedHandle(bootstrapServers: "localhost:9092", topic: "test-topic-1", partitionedTopic: "test-topic-2")
Error Message:
 System.AggregateException : One or more errors occurred. (A task was canceled.)
---- System.Threading.

[2018-01-18 21:59] afrancoc2000 commented on #411
Thanks I changed the configuration and I'm waiting for the error to appear again

[2018-01-18 22:54] mhowlett commented on #412
resolved by #413

[2018-01-18 22:54] #412 closed

[2018-01-19 14:15] afrancoc2000 commented on #411
Checking the logs something weird happened the last log was at 2018-01-19T12:29:47.030Z and the last three messages where:

    Reached   end of topic queuing.location.deviceEvents partition 1, next message will be   at offset 130008646
    Reached end of topic   queuing.location.deviceEvents partition 2, next message will be at offset   127016010
    Reached end of topic   queuing.location.device

[2018-01-19 16:15] grhm commented on #409
I'm having the same issue - and am using a slight rewrite of the AdvancedConsumer example.
I'm in a phase where I'm starting many short lived debug sessions, and may not always be cleanly closing the session.
I've found if I edit the code to change my group.id to something else it works again for a while.  When it then errors again, I can name it back and all is good for a while.

I'm seeing thing

[2018-01-19 16:40] mhowlett opened #414 "Intermittent integration test failure (produce DR ordering)"
Description
===========

I'm getting this intermittently, implying ordering of delivery reports sometimes doesn't match the order of produce calls in a scenario where (I thought) this is expected.

The active test run was aborted. Reason: Unhandled Exception: Xunit.Sdk.EqualException: Assert.Equal() Failure
Expected: Byte[] [1, 2, 3, 4]
Actual:   Byte[] [2, 3]
   at Xunit.Assert.Equal[T](T expecte

[2018-01-19 16:47] mhowlett commented on #409
@grhm - what if you make some other change to the code, does that fix it as well? seems like a different scenario where librdkafka.dll isn't getting deployed properly by VS for some reason (but this time an intermittent problem).

[2018-01-19 17:06] mhowlett commented on #322
addressed in #410

[2018-01-19 17:06] #322 closed

[2018-01-19 17:35] mhowlett commented on #408
Also note that you can use `Offset.Beginning` and `Offset.End` in the `Assign` call.

Per-topic configuration is not possible with the .net client (and rarely needed). e.g. you can't specify `auto.offset.reset` on a per-topic basis (behaviour if there is no committed offset). But I think that is not what you need.

[2018-01-19 17:35] #408 closed

[2018-01-20 00:45] ericln opened #416 "Unable to find the cause for ssl.ca.location failed: No error"
Description
===========
I'm trying to connect to a test cluster on cloudkafka, and have setup the ssl and cert in the producer configuration but getting `ssl.ca.location failed: No error` error with no obvious reason. I have set the permission for the cert to 644 as well.

How to reproduce
================

Checklist
=========
 -

 - [ x ] Confluent.Kafka nuget version: 0.11.3.0
 - [ x ] Apache Ka

[2018-01-20 09:16] ngeor commented on #400
Hi, I have the same troubles when trying to use the NuGet package on a non Windows machine.

I tried the Library.Load suggestion and it doesn't work. Digging into the code of "LibRdKafka.cs", I have some idea on why this does not work. On [line 216](https://github.com/confluentinc/confluent-kafka-dotnet/blob/master/src/Confluent.Kafka/Impl/LibRdKafka.cs#L216), you have a conditional compile direct

[2018-01-20 16:35] mhowlett commented on #400
@ngeor - the nuget package targets net45 net46 and netstandard1.3. `Library.Load` has been tested on windows (.NET Framework/.NET Core), ubuntu, debian8/9 and osx.

[2018-01-20 17:51] ngeor commented on #400
@mhowlett I should clarify that I'm talking about .NET Framework 4.6 on Mac & Linux.

When you're producing the NuGet package, you're compiling it. The code I pointed to includes conditional compilation ( the #if directive ). This means that once you've shipped the NuGet package, the code that doesn't meet the conditional compilation directive is gone. To illustrate my point, here's the decompiled

[2018-01-20 18:38] mhowlett commented on #400
ahh yes, we don't consider/support mono - we assume NET45, NET46 => windows. Happy to review a PR to change this.

by testing I mean against .NET Core only + referencing nuget packages.

[2018-01-21 00:19] #416 closed

[2018-01-22 10:09] grhm commented on #409
Ok. Had a change to check this now.  When I have the error, if I do a `dir /s/b *kafka*` I get:

i.e. an *empty* librdkafka directory.
I've then changed the code, and rebuilt via Visual Studio's F5 command to start debugging and the code works.  Doing another dir gives me:

i.e. librdkafka dll's in the previously empty directory.
@mhowlett I tried this with a code change that was white space only

[2018-01-23 12:53] shwen4477 commented on #272
Sorry, but in  0.11.3 I have reproduced this infinite waiting despite configuration:

`

	{
		{ "bootstrap.servers", config.Servers },
		{ "queue.buffering.max.ms", 5 },
		{ "queue.buffering.max.kbytes", 10240 },
		{ "topic.metadata.refresh.interval.ms", 200000 },
		{ "message.send.max.retries", 3 },
		{ "default.topic.config", new Dictionary<string, object>
			{
				{ "message.timeout.ms", 3000 }

[2018-01-23 14:30] halafawy opened #420 "consumer.OffsetsForTimes always gives offset = -1 (End)"
Description
===========
I'm trying to use the consumer.OffsetsForTimes to get offset by TimeStamp but it always return a result with Offset equals -1 [End], below are sample of code

DateTime now = DateTime.Now;
now = now.AddHours(-5);
Timestamp KafkaTS = new Timestamp(now.ToFileTimeUtc(), TimestampType.CreateTime);
TopicPartition KafkaTP = new TopicPartition(topics.First(), 1);
IEnumerable<TopicP

[2018-01-23 14:42] halafawy commented on #420
I found the mistake (stupid one) ... Sorry
I construct the TimeStamp object incorrectly, below are the correct code:
DateTime now = DateTime.Now;
now = now.AddHours(-24);
Timestamp KafkaTS = new Timestamp(now, TimestampType.CreateTime);

[2018-01-23 14:42] #420 closed

[2018-01-23 15:42] pavel-agarkov opened #421 "Multiple topics synchronization"
Description
===========
I have two topics "commands" and "events". After consumer processes a command it produces a new event.
For example after processing "Create item" command - "Item created" event will be produced. But commands should be processed only after all existing events have been processed.

I have successfully implemented this logic by calling `Consumer.QueryWatermarkOffsets` before e

[2018-01-23 17:52] ngeor commented on #400
Hi @mhowlett ,

I have created a PR here: #418

To test it, I built the package on my Windows laptop using my branch. Then, I copied the DLLs on a Linux computer and I used them with the Simple Kafka Producer example (Ubuntu 16.04.3 LTS, mono 4.2.1)

- When using the original DLLs from NuGet, I get the expected kernel32 error
- When using my branch, I get an error that it can't load the native lib

[2018-01-24 02:48] mhowlett opened #423 "Avro Serializers/Deserializers + Schema Registry Integration"
For those looking for Avro Serializers/Deserializers + Schema Registry integration, this functionality has now been merged to master and CI builds uploaded to nuget.org:

https://www.nuget.org/packages/Confluent.Kafka/0.11.3-ci-255
https://www.nuget.org/packages/Confluent.Kafka.Avro/0.11.3-ci-255

Example code is here:
https://github.com/confluentinc/confluent-kafka-dotnet/tree/master/examples/Avr

[2018-01-24 16:43] crog77x commented on #182
I'm using 0.11.3 version of Kafka and i'm seeing the NullDeserializer exception during the OnConsumeError event but i'm not certain as to what could be causing this.  My message is JSON, could it be that the message is invalid or somehow not able to be deserialized or is it that my deserializer needs to be NOT passed in with an initialization but, instead, as a NULL value?

[2018-01-24 17:15] mhowlett commented on #182
If you're using `NullDeserializer`, it expects the message key or value it's deserializing to be null and will throw an exception otherwise (you say your message is a `string`, so it will throw). If you want to ignore values, try the `IgnoreDeserializer` instead.

[2018-01-24 17:25] crog77x commented on #182
Well, i'm not even getting to the point of deserialization. I fail when i attempt to get out a message from an assigned partition: Consumer.Consume(out message, TimeSpan.FromSeconds(1)).  I setup my message object but there are no exceptions and i am only using this line as a conditional to attempt to deserialize, but the Broker never puts the record into my "message" object.  Why is that?

[2018-01-26 20:37] pavel-agarkov commented on #421
I ended up using one consumer for a topic and balancing between them like this:
[code]
Probably less efficient but at least it works.

[2018-01-26 21:49] mhowlett commented on #421
yep, I'd use two consumers in your scenario (as I understand it) as well.

[2018-01-29 01:25] AKR2015 commented on #405
Did you tried with auto.offset.reset="latest"? To not consume the old message, you may need to change the group name every time.

[2018-01-29 12:15] divan-9 opened #425 "Offset loosing"
Description
===========

Hello,

I have faced with periodical offsets resetting on broker configuration change. Attempts to understand what was going on did not lead me to anything.

Offsets are loosing for one group and keeping for others. I can stable reproduce this behaviour for a single consumer group.

How to reproduce
================

I have one producer, one consumer, 3 brokers. Producer i

[2018-01-29 12:18] edenhill commented on #425
`"debug": "cgrp,topic,fetch"` should provide more information why and where it starts consuming

[2018-01-29 12:22] divan-9 commented on #425
I have debug=all logfile (14mb) and I can grep some info from it. Is it enough?

[2018-01-29 15:03] vadlit commented on #423
Hello! When new release with these features is expected to be published?

[2018-01-29 16:56] mhowlett commented on #423
aiming for mid february. The release will also include generic avro serializers (in addition to the specific serializers already merged) + ability to produce custom timestamps + message headers + IProducer and IConsumer interfaces.

[2018-01-29 17:26] jblagorce opened #426 "How can a Consumer subscribe to a specific partition based on a key ?"
I have some kafka topics where I produce message about customers for which I pass a `CustomerId ` string as partition key.

I have some consumers which are only interested in consuming messages for a given `CustomerId`.

Given this `CustomerId`, how can a consumer know the partition indexes to consume ?
( I know there will also be other customers messages in the partition.  This is not considered

[2018-01-29 18:31] afrancoc2000 commented on #411
Hi, the problem was with kafka configuration, it's solved now. Thanks

[2018-01-29 22:58] nagarjuna119 commented on #89
I am hitting the same issue I think, 60ms

{"bootstrap.servers", brokerList },
                {"security.protocol", "SSL"},
                {"ssl.ca.location", @"C:\certs\certfile.pem"},
                {"acks", 1},
                //{"debug","protocol"},
                {"socket.nagle.disable",true},
                {"socket.blocking.max.ms",1},
                {"queue.buffering.max.ms",1 }

[2018-01-30 00:05] nagarjuna119 commented on #89
Logs:
7|2018-01-29 16:02:24.826|rdkafka#producer-1|CONNECTED| [thrd:ssl://kafka.nonprod.proton.r53.srvtest.net:9093/bootstrap]: ssl://kafka.nonprod.proton.r53.srvtest.net:9093/bootstrap: Connected (#1)
7|2018-01-29 16:02:24.833|rdkafka#producer-1|FEATURE| [thrd:ssl://kafka.nonprod.proton.r53.srvtest.net:9093/bootstrap]: ssl://kafka.nonprod.proton.r53.srvtest.net:9093/bootstrap: Updated enabled pro

[2018-01-30 06:51] edenhill commented on #89
@nagarjuna119

 * What broker version?
 * What librdkafka version?
 * What is the network latency between the client and the broker? (use `ping <broker>` on the client host)
 * What is the broker load?

Seeing how all requests are at least about 60ms this looks more like a network issue.

[2018-01-30 14:13] #411 closed

[2018-01-30 15:59] crog77x commented on #182
The answer to this question: the Consumer and Producer both have to match their key serializers or else Kafka gets confused and won't function, properly.  In this case, this will cause Kafka to NOT be able to consume messages since the Reader was expecting a key deserializer that was null but the Producer gave one that was NOT null.

[2018-01-30 21:56] gacaq opened #427 "Ocurrió un error: System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. Parameter name: creationOptions"
I have a project that should produce some messages in a kafka topic. When i run it local, the message is well produced. But when I plublish the project in a worker role I recieve that error message:

Ocurrió un error: System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: creationOptions
   at System.Threading.Tasks.Task..ctor(Object state, Tas

[2018-01-30 22:09] mhowlett commented on #427
What is your target framework? What's going on isn't completely clear to me, but it looks like maybe `TaskCreationOptions.RunContinuationsAsynchronously` isn't supported in your environment for some reason. If you can upgrade to a newer .NET Framework, that will likely solve the issue if that's right.

https://github.com/confluentinc/confluent-kafka-dotnet/blob/master/src/Confluent.Kafka/Producer.

[2018-01-30 22:10] gacaq commented on #427
Actually my project run over .NET Framework 4.6.1

[2018-01-30 22:18] mhowlett commented on #427
Can you try a synchronous call to `ProduceAsync` and see if that helps? (i.e. `ProduceAsync(topic, key, value).Result`). Also, I assume none of the calls to `ProduceAsync` are working?

I wonder if this has anything to do with thread pool configuration (maybe you could look into that).

[2018-01-30 23:00] nagarjuna119 commented on #89
Yes..looks like network

Broker: 0.10.1
librdkafka: 0.11.3.0
C:\WINDOWS\system32>nmap -Pn 172.19.67.172 -p 9093

Starting Nmap 7.60 ( https://nmap.org ) at 2018-01-30 12:09 Pacific Standard Time
Nmap scan report for 172.19.67.172
Host is up (0.066s latency).

[2018-01-31 02:32] liaodawee opened #428 "about auto.offset.reset config ."
Description
===========
 when  i wrote a consumer config ..error occored...   i find this config from source-code
   private static Dictionary<string, object> constructConfig(string brokerList, bool enableAutoCommit, string reset = "lastest") =>
         new Dictionary<string, object>
         {
                             { "group.id", Guid.NewGuid() },
                             { "enable.aut

[2018-01-31 04:54] liaodawee commented on #428
i resolve it ... cause i use old config

[2018-01-31 04:54] #428 closed

[2018-01-31 12:59] gacaq commented on #427
Hi.

Mi initial version of the program I had a synchronous call of the method with .Wait() method. The message of the error was the same.

I read yesterday that .Result have the same behavior of .Wat method, isn't it?

[2018-01-31 16:48] mhowlett commented on #427
yep, the same.

Are you running in Azure? please provide as much information as you can about your execution environment.

This seems likely a problem with the library and something we'll want to fix, so I'll label this a bug. If anyone else has run into this problem, please add to this thread. Unfortunately there are some higher priority tasks to get done before I'll get time to look further.

[2018-01-31 16:50] gacaq commented on #427
Yes. I am running it in Azure. As a Multithreading small worker role

[2018-01-31 16:53] mhowlett commented on #427
Are you able to get any program that uses Confluent.Kafka running in this environment? does even the simplest program fail?

[2018-01-31 16:55] gacaq commented on #427
I have a Concluent.Kafka Consumer running in the same worker role. It's run correctly

[2018-01-31 16:58] mhowlett commented on #427
what about a producer (using an async version of ProduceAsync)?

variants of  `ProduceAsync` that have an `IDeliveryHandler` parameter will avoid what I think the problem is and so I'm guessing they will work. At this stage i'd recommend trying to re-work your software to use one of those.

[2018-01-31 17:59] pradipkumar1948 commented on #384
I am trying the same , .Net producer on windows with SASL_PLAINTEXT and broker on unix. What kind of settings I need to do in windows to make it work.

[2018-01-31 19:18] maximecaron opened #429 "No public method available on producer to produce with timestamp."
Description
===========
It's currently impossible from another assembly to produce message with a custom Creation Time because the produce method on the producer class is internal.

Is there any reason this feature is not exposed yet ?

Checklist
=========
Please provide the following information:

 - [x] Confluent.Kafka nuget version: 0.11.3.0
 - [x] Apache Kafka version: 0.10.1
 - [x] Client con

[2018-01-31 19:25] mhowlett commented on #429
it just hasn't been implemented yet. I'm working on this right now, expect it soon.

[2018-01-31 19:54] maximecaron commented on #429
Thanks a lot Matt.
Please Let me know if I can be of any help.

[2018-01-31 21:42] gacaq commented on #427
Hi.

I tried with

public void ProduceAsync(string topic, TKey key, TValue val, IDeliveryHandler<TKey, TValue> deliveryHandler);

And it works fine for me now.

Thanks for your advices :)

[2018-01-31 22:00] mhowlett commented on #427
re-opening since this I believe there is a bug here we want to fix.

[2018-01-31 22:02] gacaq commented on #427
Ok

[2018-02-01 06:37] QianJiali commented on #409
I have the same problem.
I tried a lot then finally fixed with adding this to .csproj
`<Import Project="..\..\..\..\.nuget\packages\librdkafka.redist\0.11.3\build\librdkafka.redist.props" Condition="Exists('..\..\..\..\.nuget\packages\librdkafka.redist\0.11.3\build\librdkafka.redist.props')" />`

It works fine now.

[2018-02-02 09:25] comdw commented on #404
Both the Consumer and Producer have an OnError event handler you can bind to that will fire for issues with the broker (and other issues).  There are a bunch of [known errors](https://github.com/confluentinc/confluent-kafka-dotnet/blob/master/src/Confluent.Kafka/ErrorCode.cs) you could have your application check against or you could simply hook these events into your log framework.

[code]

[2018-02-02 10:07] liaodawee opened #432 "how to release memory when my producer run for a long time."
Description
===========
 my producer is used in webapi
 when the producer run a long time ,i find **iis memory increase too quick  。。。**
 i create producer when application start like this.
  protected void Application_Start()
        {
            HttpContext.Current.Cache["MyTopic"] = KafkaProducerHelper.CreateNewNullKeyProducer("MyTopic");
        }
  when it send message ,i catch some exceptio

[2018-02-02 10:11] andreycha commented on #195
@divan-9  this one might fix your issue, keep an eye on the next release: https://github.com/edenhill/librdkafka/pull/1621

[2018-02-02 10:16] edenhill commented on #432
Please edit your original comment and fill out the checklist, versions, OS and configuration in particular.
Thanks

[2018-02-05 02:41] liaodawee commented on #432
@mhowlett    already updated .. thanks.
 at first,i use producer by using(var producer =xxx){  }
later i found kafka logs in linux,shows: too many files opened.  and i alter linux file limit config ,65535,but still not work. Then i see windows performance , and find iis request is too many ,more than 2000 concurrence ,so i create the producer then application started to reduce producer's creatatio

[2018-02-05 07:18] liaodawee commented on #432
i send message by async , so when message are too much and the task runs for a long time ,the memory will increase too much ,i guess.

@mhowlett

[2018-02-05 10:00] ngeor commented on #400
Good morning @mhowlett ,
do you perhaps have any thoughts on the PR?
Best regards,
Nikolaos

[2018-02-06 10:17] #432 closed

[2018-02-06 12:36] ricardoecosta opened #433 "Slow manual commits"
Description
===========
We need to expose manual sync commits to our clients, but we get really poor performance out of it when compared to async commits + callbacks.

Attached client logs with "debug: all" for sync and async versions.
[sync_commit.txt](https://github.com/confluentinc/confluent-kafka-dotnet/files/1699009/sync_commit.txt)
[async_commit.txt](https://github.com/confluentinc/confluent

[2018-02-06 13:08] edenhill commented on #433
https://github.com/edenhill/librdkafka/wiki/FAQ#sync-offset-commits-are-slow

re the PROTOERR; are you seeing that without `debug` enabled?

[2018-02-06 13:34] ricardoecosta commented on #433
Hi Magnus, thanks for the quick reply!

I did have look to that page and I decreased `fetch.wait.max.ms` but the side effect of that is the number of fetch requests being increased:
[code]

Regarding the `PROTOERR` it doesn't happen with `debug` disabled.

[2018-02-06 13:54] edenhill commented on #433
Okay, then that PROTOERR can be ignored, it is expected.

It seems like there are no FetchRequest blocking the OffsetCommitRequest, which means the latency of that request (63ms) is due to the network and broker processing time.

[2018-02-06 14:28] ricardoecosta commented on #433
If you kindly look at `sync_commit.txt` and you search for `Enqueue OffsetCommitRequest` that's when the commit request is issued:
[code]
but then it only gets sent to the broker almost after a second:
[code]

Do you have any idea what all those `FetchRequest`s are? Shouldn't they only be sent on `consumer.Consume/Poll`?

[2018-02-06 14:34] edenhill commented on #433
The client pre-fetches messages in the background until `queued.min.messages` or `queued.max.messages.kbytes` is reached at which time it will stop fetching until those thresholds are no longer reached.

If there are no new messages on the broker the FetchRequest will block (on the broker) up to `fetch.wait.max.ms` and any sub-sequently sent requests, such as an OffsetCommitRequest, will be blocke

[2018-02-06 14:36] edenhill commented on #433
Looked at the sync_commit.txt and it indeed blocks for 1s:
On Windows you might need to speed up internal wakeups by setting `socket.blocking.max.ms` to a lower value, such as 10.

[2018-02-06 14:50] KarolisKaj opened #434 "OnPartitionsAssigned & OnPartitionsRevoked Not Invoked"
Description
===========

When assigning topics via `Assign` method neither `OnPartitionsAssigned` nor `OnPartitionsRevoked` is being called when additional consumer is connected. When I use `Subscribe` method when it calls these methods.

Since we want to perform start consuming from different offsets we are using assign, since with subscribe you cannot set offset to start consuming from.

Odd par

[2018-02-06 15:08] ricardoecosta commented on #433
I actually had played around with those before as well but unfortunately didn't help, I made another test just now and for the following settings:
[code]
...idea being minimize the amount of pre-fetches and heartbeats, I get 2 following behaviours:

1. A **slow** consumer where it blocks for 1 second between these 2 lines:
[code]

2. A **fast** consumer (always a fast consumer when the assigned co

[2018-02-06 15:22] edenhill commented on #433
Thanks for that bit of information, I'll try to reproduce it and see if we can find a proper fix.

[2018-02-06 17:35] mhowlett commented on #434
what you describe, as I read it, should work so I think i'm miss-understanding.

I assume your topic has more than one partition?

please provide a complete minimal program that demonstrates the problem and I'll take a look at that.

[2018-02-06 17:47] mhowlett commented on #400
sorry @ngeor - it's a little bit down in the queue. e.g. I'm going to get #431 in first. I did take a quick look and saw it's a couple of hundred lines of changes (though they may be simple, I didn't think about it) which meant I postponed looking at it further. Since this is a pretty critical part of the code I need to consider it / test it very carefully.

[2018-02-06 17:58] ngeor commented on #400
Thank you @mhowlett of course it totally makes sense. Just a heads up, the reason so many lines seem to have changed is that I grouped some code into smaller methods. But I totally get that it needs time. Thank you for response and let me know if you have any questions.

[2018-02-06 18:07] mhowlett commented on #404
yep, thanks @comdw. specifics around this really need documenting better. taking this as a +1. it's in the priority list.

[2018-02-07 07:28] KarolisKaj commented on #434
Hi, our topic has a single partition replicated through 3 brokers.
Our issue here is load balancing if we assign manually we consume same messages on different consumers with same consumer group id.

Here is code that does mentioned behavior:
[code]

[2018-02-07 15:45] sonicsqwirl commented on #423
Are you guys planning Tombstone support for compacted topics?  I don't believe the current CI255 properly handles null messages.   Serializer throws exception, and Deserializer appears to just ignore them.

[2018-02-07 16:13] unfw commented on #423
One of my use cases has multiple event types per topic which are represented by different classes. Would that require multiple consumers to listen to a topic?

[2018-02-07 16:22] mhowlett commented on #434
messages in a single partition are never split between multiple consumers. each partition will be read by exactly one consumer and each consumer will read from zero or more partitions.

[2018-02-08 07:08] KarolisKaj commented on #434
@mhowlett  Thanks for your reply. What we experience right now is, that when given code is being executed with Subscribe, then balancing works, only one consumer gets the messages others are idling since there is no other partition. And this balancing is being done via help of events (OnPartitionsAssigned & OnPartitionsRevoked) being invoked. However, if we execute same code with assign in that ca

[2018-02-08 07:10] edenhill commented on #434
Subscribe() joins the consumer group and balances available partitions across the joined members, the assignment for each member is then Assign():ed.

Assign() simply starts fetching the given partitions, it does not perform any correlation with other consumers.

[2018-02-08 07:30] KarolisKaj commented on #434
@edenhill Ok, thanks for elaboration. However is there a way to get these events invoked? Since we perform range consumption of topics so we start consuming from provided offset and it is only available via Assign.

[2018-02-08 07:39] edenhill commented on #434
You can do that by transforming the TopicPartition list passed to you in OnPartitionsAssigned into a TopicPartitionOffset list with your choice of start offset which you then pass to Assign().

This is for the underlying C client, but explains its use:
https://github.com/edenhill/librdkafka/wiki/Manually-setting-the-consumer-start-offset

[2018-02-08 07:44] KarolisKaj commented on #434
@edenhill Thanks a bunch. I done my digging in the code but c client wasn't an easy beast to understand. I'll take a look, thanks for your time.

[2018-02-08 08:52] ricardoecosta commented on #433
Any luck so far?

[2018-02-08 09:18] edenhill commented on #434
This is a good start: https://docs.confluent.io/current/clients/consumer.html

[2018-02-08 11:46] etzellava commented on #384
Is it mandatory to use the keytab or can you use the Ticket Cache (useTicketCache = true) as used in Java?

Using the configuration below I can not connect to kafka while the example kafka-console-consumer works correctly

[code]

these are lines of the debugged error

[code]

Microsoft Windows [Versione 10.0.16299.192]
.net 4.6
Kafka 0.11.0
Scala 2.11
Confluent's .NET Client for Apache Kafka (Cur

[2018-02-08 15:00] petersonnek commented on #384
@etzellava To kind of answer your initial question, the .NET consumer, doesn't use a keytab file. It uses the principal of the process running the consumer.

One thing I noticed, if you're using the latest Confluent Kafka .Net client, then you need to use
`{ "sasl.kerberos.service.name", "kafka"}` rather than `{ "sasl.kerberos.principal", "kafka"}`. That was a bug in a previous version that was fi

[2018-02-08 15:43] petersonnek commented on #384
@pradipkumar1948 If you read through this thread I outlined most of you need both from a kafka and a windows perspective. Are there specific details you need help with?

[2018-02-08 19:03] joelnet commented on #423
Hello!

I have been playing with the new avro + schema registry additions and have some feedback.

First I would like to say that I am very excited about this addition. I am using v0.11.0 and have created my own SchemaRegistry and Serializers that I am looking forward to deprecating.

My project assumes the Model will be created first and I have supporting libraries to generate the avro schema fro

[2018-02-12 08:58] KarolisKaj commented on #434
Just wanted to thank both of you @edenhill & @mhowlett. The issue I had was related to my incorrect understanding of how consumption works and what is the different between subscribtion & assign methods. I have now managed to make our kafka client work as expected!

[2018-02-12 09:46] edenhill commented on #434
Happy to hear you got it sorted out!

[2018-02-12 09:46] #434 closed

[2018-02-12 15:53] edudelta commented on #409
Hi!
Just to inform, the solution purposed by QianJiali was not enough to solve the issue, by my side.
Thanks

[2018-02-12 22:31] BFrancisA opened #435 "Can't find a build target for netcoreapp2.0"
Description
===========

Can't find a build target for netcoreapp2.0.  Is there one?  NuGet has only netcoreapp1.1.

How to reproduce
================
Tried building as follows:  (On windows 10)

Open a CMD window In directory:

\Kafka\confluent-kafka-dotnet\src\Confluent.Kafka>

Build and publish by running:

dotnet publish -c Release

There is no version generated for netcoreapp 2.0 because it i

[2018-02-12 23:59] mhowlett commented on #435
it targets `netstandard1.3`, which is compatible with `netcoreapp2.0`. maybe try `-f netstandard1.3` ?

[2018-02-13 08:03] DarioDomiDE opened #436 "Missing Error messages if schema registry service returns a 403 (or any other) http code"
Description
===========
Short: An incorrect connection to the schema registry service leads to a invalid json parse error (don't know the exact message).

Long: My program tries to reach the Schema Registry Service at port 8081, it's actually run at port 8083.
At port 8081 there is another service returning a http code 403 (Bad Request). When the Avro Consumer / Producer tries to reach any resourc

[2018-02-13 12:40] ricardoecosta commented on #433
@edenhill have you had a chance to look at the issue? Let me know if I can help in any way.

[2018-02-13 13:49] David-V-Spencer opened #437 "Question Supported/Verified Kafka Broker Version"
Description
===========
With the recent release of Kafka version 1.0.0 we are looking at upgrading broker version in production.

I don't see any information about supported brokers version in the Kafka DotNet project.

I lookied at LibRdKafka and found a list of broker versions listed support at:
https://github.com/edenhill/librdkafka/wiki/Broker-version-compatibility

However, I don't see any me

[2018-02-13 14:08] Rymix opened #438 "message.timeout.ms is not overrided"
Hello.

I come to you because i have some trouble about the function ProduceAsync.

` using (Producer<Null, string> producer = new Producer<Null, string>(_constructConfig(BrokerList, false), null, new StringSerializer(Encoding.UTF8)))
                {
                    producer.OnError += (_, error) => _logger.LogError(LogEvent.NeedCreateCode, $"Error : {error}");
                    var test =

[2018-02-13 16:26] edenhill commented on #433
I modified examples/rdkafka_consumer_example.cpp to call commitSync() on each consumed message here:
https://github.com/edenhill/librdkafka/blob/master/examples/rdkafka_consumer_example.cpp#L457

But there is no delay, it commits instantly.

[2018-02-13 17:14] mhowlett commented on #437
Confluent supports the .NET client for use with all broker versions, and it is tested against 1.0 brokers. I'm not aware of any issues specific to Kafka 1.0.

[2018-02-13 17:16] mhowlett commented on #436
thanks for the report. I'll label as a bug and will try to get to looking into it before we do a release that includes the Avro / SR functionality.

[2018-02-13 17:40] mhowlett commented on #438
I'm not sure, this will take some investigating.

The code below exits immediately (with a message timed out error) with v0.11.3-ci-255 when started without a broker running, but does not exit quickly under v0.11.3. I can't think of why that might be (they both reference the same librdkafka version).

I'll label this a bug and do some more testing later.

[code]

[2018-02-13 17:40] mhowlett commented on #438
please try with v0.11.3-ci-255 and see if the problem remains.

[2018-02-14 04:42] sonicsqwirl opened #439 "Position method returns -1001 offset for all partitions."
Description
===========
I'm using CI-255 against Kafka 0.11.0.   I'm using Subscribe to get topic assignments.  Once assigned, if you call the Positions method, all partitions return -1001 instead of the proper offset.  The consumer reads from the proper spot, and if you look into the kafka consoles, it appears to be committing offsets.
The same method call and process in python for instance appea

[2018-02-14 11:58] KarolisKaj commented on #433
I can add to it. I am having same issue.

However it is related to cluster setup. That being said, it depends on which of brokers your topic is master on. In my particular case where I am having same issue with 1 second commits, we have 3 brokers & every third created consumer group performs fairly quick commits (less than 100 ms).

So to reproduce it you will need 3 brokers cluster, then create s

[2018-02-14 12:26] ricardoecosta commented on #433
Thanks @KarolisKaj, it looks like we both are seeing the same issue indeed: I also have a setup with 3 brokers and only one fast consumer every ~3 times and, as I said before, I pinpointed this to when the assigned coordinator is the leader of the topic partition.

@edenhill one second commits are not acceptable at all for us, even if we committed every 3k messages or so, there must be something g

[2018-02-14 13:44] sonicsqwirl commented on #439
This appears to be due to the ID of my consumer group.  So long as it is anything other than something ending in ".state", it appears to work fine.

[2018-02-14 18:18] mhowlett commented on #438
ok, I now recall fixing a bug related to merging of properties defined under `default.topic.config` and the same properties defined at the top level (which they now can be). suspect this was that.

[2018-02-14 21:03] #435 closed

[2018-02-14 21:06] mhowlett commented on #429
the relevant PR is #431. Keep an eye on that.

[2018-02-14 21:06] #429 closed

[2018-02-14 23:24] edenhill commented on #433
@mhowlett looks good

[2018-02-15 00:38] mhowlett commented on #433
@ricardoecosta , @KarolisKaj - in the below, if `tt2` is a topic on a 3 broker cluster with a single partition, replication factor 3, does this match your scenario? (I am not seeing slow commits, using kafka broker version 1 though). sorry if i'm mis-interpreting, just had a quick look at this point.

[code]

[2018-02-15 11:49] KarolisKaj commented on #433
@mhowlett Thanks for your client demo.

Here is my results:
![image](https://user-images.githubusercontent.com/12098167/36255033-0579d428-1256-11e8-90a4-fe2044709d81.png)

Only thing I have changed was hosts as such:
`{ "bootstrap.servers", "Y31489,Y31490,Y31491" }`

Attaching our Zookeeper & Kafka configs:
[configs.zip](https://github.com/confluentinc/confluent-kafka-dotnet/files/1727516/configs.

[2018-02-15 12:39] ricardoecosta commented on #433
My results:
[code]

@mhowlett are you testing in windows?

[2018-02-15 14:57] bencyoung opened #440 "Question: Should waiting on delivery for each message be extremely slow?"
I have a producer loop that looks like this:

[code]
 This produces output like:

[code]

which seems very slow. If I remove the "await t" line then I typically get 60-80 messages a second. If I add a "producer.Flush(100)" then I get about 10 msg/s.

I assume I'm missing some simple config setting to enable much faster production, even with delivery reports? The only config option I'm passing to t

[2018-02-15 15:04] edenhill commented on #440
Some questions:
 * Whats your dotnet and librdkafka versions?
 * What is pausems set to?
 * Please provide your producer configuration

[2018-02-15 15:07] BFrancisA commented on #435
Yes, that was the problem.

[2018-02-15 15:13] bencyoung commented on #440
It's:

[code]

pausems is 10ms, but changing it to 0 or even removing the line doesn't change anything.

Producer config is simply:

[code]

[2018-02-15 15:48] edenhill commented on #440
On Windows you might need to lower `socket.blocking.max.ms` to expedite sending of messages.
We're looking for a proper fix to this but in the meantime that's the workaround.
More info
https://github.com/edenhill/librdkafka/wiki/How-to-decrease-message-latency

[2018-02-15 15:53] bencyoung commented on #440
Thanks, that's great. Setting it to 1 gives me back 400 msg/s with the pause set to 0

[2018-02-15 15:53] #440 closed

[2018-02-15 15:55] edenhill commented on #440
👍
Do note that synchronous commits will always be limited by the broker round-trip-time.
https://github.com/edenhill/librdkafka/wiki/FAQ#why-is-there-no-sync-produce-interface

[2018-02-15 16:58] mhowlett commented on #433
I was using osx, getting typically ~0.3ms commits. On windows (.net core and .net framework) I'm seeing ~1000ms commits. This pretty conclusively points to librdkafka I think. It's interesting that the number is so close to 1000, seems likely to me that is indicative of something. @edenhill

[2018-02-15 17:14] edenhill commented on #433
Try lowering socket.blocking.max.ms

[2018-02-15 17:30] mhowlett commented on #433
no difference. also, lowering `broker.address.ttl` and `heartbeat.interval.ms` makes no difference (i wouldn't expect they would, but they have default value 1000 so worth a quick test).

[2018-02-15 17:31] ricardoecosta commented on #433
@mhowlett  that was also my thinking and played around with those before, anyway good to have confirmation, thanks.

[2018-02-15 18:13] mhowlett commented on #433
I also just checked to see if a more recent build of librdkafka resolves the issue (referenced by Confluent.Kafka 0.11.3-ci-280), no luck. I expect to get a chance to delve in to debugging librdkafka later this week or early next week.

[2018-02-16 13:24] etzellava commented on #384
@petersonnek  i changed configuration

[code]
But the result didn't change
it look like SSPI couldn't find the user kerberos token.

"kafkauser@XXX.local"

Log in attach file
[KafkaClientNet.txt](https://github.com/confluentinc/confluent-kafka-dotnet/files/1731422/KafkaClientNet.txt)

I followed  this link
https://maprdocs.mapr.com/52/Impala/configuring_kerberos_authentication_for_windows.html

an

[2018-02-20 05:59] alinmotogna commented on #408
Sorry for this late reply (especially considering the awesome reply time from your side :-|)
Suggested solution works fine

[2018-02-20 10:25] enniopastore commented on #272
Same issue of shwen4477.
On 0.11.13 the timeout error is never reached.

[2018-02-20 10:30] enniopastore opened #442 "ProduceAsync doesn't reach timeout when Kafka broker is down"
Description
===========

Calling producer.ProduceAsync on a Kafka broker that is down, no timeout is reached.

How to reproduce
================

Here my configuration:
[code]

Here the producer code:

[code]

The only way to catch the timeout is to decomment this part:
[code]

Checklist
=========
Please provide the following information:

 - [0.11.3 ] Confluent.Kafka nuget version:
 - [x] Apache

[2018-02-20 15:48] mhowlett commented on #442
try putting the `default.topic.config` parameters at the top level:

[code]

there was a bug preventing the settings from working under `default.topic.config` - I think this affects 0.11.3. If that doesn't work report back and I'll take a closer look.

[2018-02-20 21:04] dianagastrin commented on #393
@mhowlett, I saw that the [related PR in librdkafka](https://github.com/edenhill/librdkafka/pull/1480)
was merged. I would like to know when you are going to support message headers.

Is this something I can easily implement by myself?
I just really need to use 'headers' as part of my flow, I wonder if this would be easy to implement by myself for now and change the logic when it would be supporte

[2018-02-20 21:14] mhowlett commented on #393
this is part of (the large) PR #431 that we're trying to finalize this week.

a CI build that includes this functionality is on nuget.org (0.11.3-ci-280) which I believe is stable, though you can expect API changes

[2018-02-21 11:48] enniopastore commented on #442
Yes, I can confirm that moving at top level it works.

[2018-02-21 11:48] #442 closed

[2018-02-21 12:59] dianagastrin commented on #393
Once I get this version - 0.11.3-ci-280, how can I use the headers? Is there an API for that?
Thanks!!

[2018-02-21 18:15] mhowlett commented on #393
yes, there are overloads of `ProduceAsync` and `Produce` that accept a headers collection. Note that the API will be different in the final version, but it will be similar and easy to change.

[2018-02-22 03:08] mhowlett commented on #433
currently a bit swamped, haven't forgotten about this, somewhere near the top of the priority list ...

[2018-02-23 18:14] #437 closed

[2018-02-26 10:10] ayappant opened #443 "Consume(out Message<TKey, TValue> message, int millisecondsTimeout) returns only a single message"
Description
===========
Consume(out Message<TKey, TValue> message, int millisecondsTimeout) returns only a single message. Is there any other method which we could use for consuming multiple messages() from a kafka topic

How to reproduce
================
Use Consume(out Message<TKey, TValue> message, int millisecondsTimeout) to consume messages from kafka. You end up getting only a single message

[2018-02-26 16:03] timothyfranzke opened #444 "Out of memory when a broker is down"
Description
===========
We have a 5 broker cluster and 5 zookeepers.  Broker 2 was down and our consumer application ran out of memory within 20 minutes of the broker going down.  Our brokers are on version 0.9.0.1.  The consumer application's brootstrap.server lists all 5 brokers.  We found this error in the log:

Faulting application name: w3wp.exe, version: 8.5.9600.16384, time stamp: 0x5215df9

[2018-02-26 16:22] mhowlett commented on #443
no, but note that behind the scenes, data is fetched from kafka in batches, it is just delivered to you via the api one message at a time.

[2018-02-26 16:43] mhowlett commented on #444
@timothyfranzke - are you sure the problem is running out of memory? based on the information it looks to me like it could be, but not necessarily (and my guess is it's probably some other problem with librdkafka). @edenhill - access violation in librdkakfa.

[2018-02-26 18:21] timothyfranzke commented on #444
Yeah, the page file filled up the system drive.  We have our IIS team working on that portion.
We were also able to track down this log:
Exception Info: System.AccessViolationException
   at Confluent.Kafka.Impl.NativeMethods.NativeMethods.rd_kafka_query_watermark_offsets(IntPtr, System.String, Int32, Int64 ByRef, Int64 ByRef, IntPtr)
   at Confluent.Kafka.Impl.LibRdKafka.query_watermark_offsets(I

[2018-02-26 22:59] raghavrkapoor commented on #423
Hi Matt

When new release with Avro support is expected to be published? Saw a comment above - about target release date to be around mid feb.

[2018-02-26 23:24] mhowlett commented on #423
realistically 2-3 weeks. #431 will also be included + generic avro serdes (which haven't been implemented yet).

[2018-02-27 17:21] mhowlett commented on #444
it could be that we are not correctly freeing memory somewhere in an error case, though I had a quick look and I can't see where that is.

It is probably a pretty good assumption that since the exception happens in the rebalance code calling `QueryWatermarkOffsets` the problem is with one of these.

If you could provide librdkafka logs (set `debug` config param to `all`) when the problem is occurr

[2018-02-27 18:51] alessandroabba commented on #344
Still no intention to publish a client for the kafka streams api for .net?

[2018-02-27 19:05] timothyfranzke commented on #444
That is interesting that you mentioned the QueryWatermarkOffsets.  We noticed an issue in our testing environment where the consumer group would randomly start over at offset '0'.  I had implemented a safe guard using QueryWatermarkOffsets to check the last message offset, every time the consumer process restarted, and not process any messages that were before this offset.  I submitted a ticket wi

[2018-02-27 19:12] mhowlett commented on #444
Removing `QueryWatermakOffsets` seems worth a try since i would guess it's unusual to be calling this in the rebalance callback, though I don't know of any reason why this would be problematic (and if it is, we should definitely change things to handle it more adequately than you report).

[2018-02-27 19:14] mhowlett commented on #344
not at this stage. it's a lot of work and we need to implement more foundational things like the AdminClient and exactly-once-semantics first.

[2018-02-28 16:56] teixeirajmp commented on #409
I also encountered this issue and have no proper solution yet. As I'm sure .NET Framework will be with us for some time, it would be nice to have a way to solve or work around this issue.

[2018-03-02 12:10] teixeirajmp commented on #409
I found a workaround for my particular circustances.
In our case, the issue was happening when running continuous integration and the CI task uses MSTest.exe as test runner.
The problem is that MSTest doesn't recognize that the native libraries are something it needs to copy to its work directory.
The most straightforward solution would be to create a .testsettings file with a Deployment section,

[2018-03-05 15:22] Rymix opened #448 "First call of Consume never return messages"
Hi,

Description
===========
When we just declare a consumer and subscribe, the first call to consumer.Consume() never return a message.
Actually my application have many parts, and one of the part is a background loop which check every 5 minutes if kafka have some new messages.
I wish have a new/fresh consumer when i start my background task, but because Commit() return no messages, i never retri

[2018-03-05 15:24] edenhill commented on #448
A rebalance may take session.timeout.ms, or even longer if other members cause the group to rebalance again, so you should not make assumptions on how quickly you can start consuming messages after calling subscribe()